node-red-demo/flows.json
[{"id":"84cc5fb7.b09ef","type":"tab","label":"Home","disabled":false,"info":""},{"id":"c573c280.684108","type":"tab","label":"Start Task","disabled":false,"info":""},{"id":"a848f917.d6fe68","type":"tab","label":"Add Peripheral","disabled":false,"info":""},{"id":"2313d0ca.6dd0e8","type":"graphql-server","z":"","endpoint":"http://192.168.1.22:8000/graphql/","name":"SDG Server Dev"},{"id":"ed206b55.60cba","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"245dc57c.f36912","type":"ui_group","z":"","name":"Sites","tab":"ed206b55.60cba","order":1,"disp":true,"width":"6","collapse":false},{"id":"e5c0c1f9.abf0d8","type":"ui_group","z":"","name":"Controllers","tab":"ed206b55.60cba","order":2,"disp":true,"width":"6","collapse":false},{"id":"7df86a7f.9a919c","type":"ui_group","z":"","name":"ControllerDetails","tab":"ed206b55.60cba","order":3,"disp":true,"width":"6","collapse":false},{"id":"93b56b3e.6838d","type":"ui_group","z":"","name":"PeripheralData","tab":"ed206b55.60cba","order":4,"disp":true,"width":"6","collapse":false},{"id":"55af082c.2de1c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e27310c1.696288","type":"ui_tab","z":"","name":"StartTask","icon":"dashboard","disabled":false,"hidden":false},{"id":"355408ad.50dd5","type":"ui_group","z":"","name":"SelectTask","tab":"e27310c1.696288","order":1,"disp":true,"width":"6","collapse":false},{"id":"b01c4967.391d08","type":"ui_group","z":"","name":"PollSensor","tab":"e27310c1.696288","order":2,"disp":true,"width":"6","collapse":false},{"id":"c54221fd.24dd88","type":"ui_group","z":"","name":"SetValue","tab":"e27310c1.696288","order":3,"disp":true,"width":"6","collapse":false},{"id":"922ddadc.151308","type":"ui_tab","z":"","name":"AddPeripheral","icon":"dashboard","disabled":false,"hidden":false},{"id":"cab5a419.07e67","type":"ui_group","z":"","name":"SelectPeripheralType","tab":"922ddadc.151308","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4498aee.67ccf","type":"ui_group","z":"","name":"DigitalIn","tab":"922ddadc.151308","order":2,"disp":true,"width":"6","collapse":false},{"id":"f397dec3.c058d8","type":"ui_group","z":"","name":"I2CAdapter","tab":"922ddadc.151308","order":3,"disp":true,"width":"6","collapse":false},{"id":"b895e418.a33458","type":"ui_group","z":"","name":"BME280","tab":"922ddadc.151308","order":5,"disp":true,"width":"6","collapse":false},{"id":"94c865a3.c641b8","type":"ui_group","z":"","name":"DigitalOut","tab":"922ddadc.151308","order":5,"disp":true,"width":"6","collapse":false},{"id":"5e24b6c.f289ac8","type":"ui_group","z":"","name":"AnalogIn","tab":"922ddadc.151308","order":6,"disp":true,"width":"6","collapse":false},{"id":"76be90dc.3da9d","type":"ui_group","z":"","name":"AnalogOut","tab":"922ddadc.151308","order":7,"disp":true,"width":"6","collapse":false},{"id":"bb0ad951.6cdd1","type":"ui_group","z":"","name":"PWM","tab":"922ddadc.151308","order":8,"disp":true,"width":"6","collapse":false},{"id":"25a395d2.8f5dea","type":"function","z":"84cc5fb7.b09ef","name":"to dropdown","func":"try {\n  if (msg.payload.allSites.edges.length > 0) {\n    msg = {\n      options: msg.payload.allSites.edges.map((edge) => ({\n        [edge.node.name]: edge.node.id,\n      })),\n    };\n  } else {\n    let empty_result = \"No sites found\";\n    msg = {\n      options: [empty_result],\n      payload: empty_result,\n    };\n  }\n} catch (error) {\n  let error_msg = \"Error requesting sites\";\n  msg = {\n    options: [error_msg],\n    payload: error_msg,\n  };\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["1b7f68e7.ce14df"]]},{"id":"7756c6b5.1b6c78","type":"function","z":"84cc5fb7.b09ef","name":"to dropdown","func":"try {\n  if (msg.payload.allSiteEntities.edges.length > 0) {\n    msg = {\n      options: msg.payload.allSiteEntities.edges.map((edge) => ({\n        [edge.node.name]: edge.node.id,\n      })),\n    };\n  } else {\n    let empty_result = \"No controllers found\";\n    msg = {\n      options: [empty_result],\n      payload: empty_result,\n    };\n  }\n} catch (error) {\n  let error_msg = \"Error requesting controllers\";\n  msg = {\n    options: [error_msg],\n    payload: error_msg,\n  };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":200,"wires":[["e111d2f7.342d28"]],"outputLabels":["controller SE"]},{"id":"761f2b2d.0a17ac","type":"inject","z":"84cc5fb7.b09ef","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":200,"wires":[["862d025e.9914e8"]]},{"id":"91a9c99f.5f5a78","type":"function","z":"84cc5fb7.b09ef","name":"hide/show","func":"let have_controllers = false;\ntry{\n    have_controllers = Boolean(\n        msg.payload.allSiteEntities.edges\n    );\n} catch (error) {}\n\n\n\nmsg.payload = {\n    group: {\n        show: [],\n        hide: []\n    }\n};\nif (have_controllers) {\n    msg.payload.group.show.push(\"Home_Controllers\");\n} else {\n    msg.payload.group.hide.push(\"Home_Controllers\");\n}\nmsg.payload.group.hide.push(\"Home_PeripheralData\");\nmsg.payload.group.hide.push(\"Home_ControllerDetails\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":260,"wires":[["99eced7d.24da08"]]},{"id":"b175456f.ae8a58","type":"inject","z":"84cc5fb7.b09ef","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":730,"y":260,"wires":[["91a9c99f.5f5a78"]]},{"id":"ad1b08fa.c0105","type":"function","z":"84cc5fb7.b09ef","name":"to details","func":"let controller_msg = { payload: msg.payload.siteEntity.name };\n\nlet peripherals_msg = {};\ntry {\n  edges =\n    msg.payload.siteEntity.controllerComponent.peripheralComponentSet.edges;\n  if (edges.length > 0) {\n    peripherals_msg.options = edges.map((edge) => ({\n      [edge.node.siteEntity.name]: edge.node.siteEntity.id,\n    }));\n    peripherals_msg.peripherals = peripherals_msg[\"options\"];\n  } else {\n    let empty_results = \"No peripherals found\";\n    peripherals_msg.options = [empty_results];\n    peripherals_msg.payload = empty_results;\n    peripherals_msg.peripherals = [];\n  }\n} catch (error) {\n  let error_msg = \"Error requesting peripherals\";\n  peripherals_msg.options = [error_msg];\n  peripherals_msg.payload = error_msg;\n  peripherals_msg.peripherals = [];\n}\n\nlet start_task_msg = { enabled: false };\n\nreturn [controller_msg, peripherals_msg, start_task_msg];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1500,"y":200,"wires":[["f49d04a3.6523d8","133e86e3.e3c669"],["51b26a0f.00243c","13e739c1.ee7b56"],["78e8b09c.ffe5e8"]],"outputLabels":["controller SE","",""]},{"id":"c40923c4.6d33b8","type":"delay","z":"84cc5fb7.b09ef","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":835,"y":200,"wires":[["7756c6b5.1b6c78"]],"l":false},{"id":"93d1d97e.f9e32","type":"function","z":"84cc5fb7.b09ef","name":"show","func":"return {payload: {group: {show: [\"Home_ControllerDetails\"], hide: [\"Home_PeripheralData\"]}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":420,"wires":[["64f189d1.1e3718"]]},{"id":"f174650b.969058","type":"delay","z":"84cc5fb7.b09ef","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1415,"y":200,"wires":[["ad1b08fa.c0105"]],"l":false},{"id":"a0a6a667.6c9b28","type":"change","z":"84cc5fb7.b09ef","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":300,"wires":[["78e8b09c.ffe5e8"]]},{"id":"2b5c5270.5c2fd6","type":"ui_button","z":"84cc5fb7.b09ef","name":"","group":"7df86a7f.9a919c","order":5,"width":0,"height":0,"passthru":false,"label":"Add peripheral","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1680,"y":380,"wires":[["123e696f.73f0ff","4bcc85f0.d15e34"]]},{"id":"78e8b09c.ffe5e8","type":"ui_button","z":"84cc5fb7.b09ef","name":"","group":"7df86a7f.9a919c","order":4,"width":0,"height":0,"passthru":false,"label":"Start task","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"startTask","x":1660,"y":300,"wires":[["13e739c1.ee7b56","41bf8457.d61894"]]},{"id":"1b7f68e7.ce14df","type":"ui_dropdown","z":"84cc5fb7.b09ef","name":"sites","label":"","tooltip":"","place":"Select option","group":"245dc57c.f36912","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":510,"y":200,"wires":[["4797ced8.e69ee","4ad0342a.2a6b2c"]]},{"id":"e111d2f7.342d28","type":"ui_dropdown","z":"84cc5fb7.b09ef","name":"controllers","label":"","tooltip":"","place":"Select controller","group":"e5c0c1f9.abf0d8","order":0,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1090,"y":200,"wires":[["135f4cb2.86bd93","e22e8db5.ba9468"]]},{"id":"51b26a0f.00243c","type":"ui_dropdown","z":"84cc5fb7.b09ef","name":"peripherals","label":"","tooltip":"","place":"Connected Peripherals","group":"7df86a7f.9a919c","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1670,"y":200,"wires":[["a0a6a667.6c9b28","13e739c1.ee7b56","32c6bcbb.6add4c","fa995d00.6bebb8","9b330daf.645fd8"]]},{"id":"f49d04a3.6523d8","type":"ui_text","z":"84cc5fb7.b09ef","group":"7df86a7f.9a919c","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-left","x":1650,"y":160,"wires":[]},{"id":"aa1d8f87.e2ea4","type":"ui_chart","z":"84cc5fb7.b09ef","name":"","group":"93b56b3e.6838d","order":0,"width":0,"height":0,"label":"{{msg.label}}","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":3050,"y":200,"wires":[[]]},{"id":"99eced7d.24da08","type":"ui_ui_control","z":"84cc5fb7.b09ef","name":"","events":"all","x":1020,"y":260,"wires":[[]]},{"id":"64f189d1.1e3718","type":"ui_ui_control","z":"84cc5fb7.b09ef","name":"","events":"all","x":1580,"y":420,"wires":[[]]},{"id":"862d025e.9914e8","type":"graphql","z":"84cc5fb7.b09ef","name":"all sites","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"plain","template":"{allSites{edges{node{id,name}}}}","x":220,"y":200,"wires":[["25a395d2.8f5dea"],["25a395d2.8f5dea"]],"icon":"font-awesome/fa-search"},{"id":"4797ced8.e69ee","type":"graphql","z":"84cc5fb7.b09ef","name":"all controller SEs","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"{\n  allSiteEntities(site: \"{{payload}}\", isController: true) {\n    edges{\n      node{\n        id,\n        name,\n        controllerComponent{\n          id\n        }\n      }\n    }\n  }\n}","x":690,"y":200,"wires":[["91a9c99f.5f5a78","c40923c4.6d33b8"],["c40923c4.6d33b8"]],"icon":"font-awesome/fa-search"},{"id":"135f4cb2.86bd93","type":"graphql","z":"84cc5fb7.b09ef","name":"controller details","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"{\n  siteEntity(id: \"{{payload}}\") {\n    name,\n    controllerComponent {\n      createdAt,\n      peripheralComponentSet{\n        edges{\n          node{\n            siteEntity{id, name}\n          }\n        }\n      }\n    }\n  }\n}","x":1280,"y":200,"wires":[["93d1d97e.f9e32","f174650b.969058"],["f174650b.969058"]],"icon":"font-awesome/fa-search"},{"id":"39533688.3ea54a","type":"link in","z":"c573c280.684108","name":"peripheral","links":["93cf9743.c0d11"],"x":135,"y":200,"wires":[["dfdd2469.7465c","e7e03be3.6f6f4","d2d70df0.269828"]]},{"id":"db580f51.c2f69","type":"ui_dropdown","z":"c573c280.684108","name":"","label":"","tooltip":"","place":"Select option","group":"355408ad.50dd5","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":620,"y":260,"wires":[["6066512e.99c6","c470ac0b.de1d08"]]},{"id":"e7e03be3.6f6f4","type":"graphql","z":"c573c280.684108","name":"getTaskTypes","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"{\n  controllerTaskEnums{\n    taskTypes {\n      value\n      label\n    }\n   }\n  siteEntity(id: \"{{payload.peripheralGID}}\") {\n    name\n    peripheralComponent{\n      peripheralType\n      state\n      controllerComponent{id}\n      dataPointTypeSet{\n        edges{\n          node{\n            name\n            unit\n            id\n          }\n        }\n      }\n    }\n  }\n}","x":280,"y":260,"wires":[["8fa5b65e.fd6668","35beff10.06871"],[]]},{"id":"8fa5b65e.fd6668","type":"function","z":"c573c280.684108","name":"to dropdown","func":"let options = msg.payload.controllerTaskEnums.taskTypes.map(\n    (taskType) => ({[taskType.label]: taskType.value})\n);\nreturn {options: options};\n\n\n\nlet values = msg.payload.controllerTaskEnums.taskTypeValues;\nlet labels = msg.payload.controllerTaskEnums.taskTypeLabels;\n\nfor(let i = 0; i < values.length; i++) {\n    let option = {};\n    option[labels[i]] = values[i];\n    options.push(option);\n}\nreturn {\"options\": options};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["db580f51.c2f69"]]},{"id":"13e739c1.ee7b56","type":"function","z":"84cc5fb7.b09ef","name":"set peripheral","func":"if (msg.peripherals) {\n  // peripherals has the format [{peripheralName: peripheralGID}]\n  context.set(\"peripherals\", msg.peripherals);\n} else if (msg.topic === \"startTask\") {\n  let peripherals = context.get(\"peripherals\");\n  let selectedPeripheral = context.get(\"peripheral\");\n  let peripheral = peripherals.find(\n    (peripheral) => Object.values(peripheral)[0] === selectedPeripheral\n  );\n  msg.payload = {\n      peripheralGID: Object.values(peripheral)[0],\n      peripheralName: Object.keys(peripheral)[0],\n      controllerName: flow.get(\"controllerName\")\n  };\n  return msg;\n} else {\n  // peripheral has the format {peripheralName: peripheralGID}\n  context.set(\"peripheral\", msg.payload);\n  return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":300,"wires":[["93cf9743.c0d11"]]},{"id":"93cf9743.c0d11","type":"link out","z":"84cc5fb7.b09ef","name":"","links":["39533688.3ea54a"],"x":1995,"y":300,"wires":[]},{"id":"dfdd2469.7465c","type":"function","z":"c573c280.684108","name":"set peripheral","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nflow.set(\"peripheral\", msg.payload)\n\nreturn {payload: msg.payload.peripheralName};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["edec8d3e.fe70e8"]]},{"id":"edec8d3e.fe70e8","type":"ui_text","z":"c573c280.684108","group":"355408ad.50dd5","order":2,"width":0,"height":0,"name":"","label":"Peripheral:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":140,"wires":[]},{"id":"41bf8457.d61894","type":"function","z":"84cc5fb7.b09ef","name":"goto tab","func":"return {payload: {tab: \"StartTask\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":340,"wires":[["355c3bd9.86415c"]]},{"id":"355c3bd9.86415c","type":"ui_ui_control","z":"84cc5fb7.b09ef","name":"","events":"all","x":2020,"y":360,"wires":[[]]},{"id":"6066512e.99c6","type":"function","z":"c573c280.684108","name":"show form group","func":"let taskTypes = flow.get(\"taskTypes\");\nhideGroups = taskTypes\n  .filter(taskType => taskType.value != msg.payload)\n  .map((taskType) => \"StartTask_\".concat(taskType.value));\nshowGroup = \"StartTask_\".concat(msg.payload);\n\nreturn {payload: {group: {show: showGroup , hide: hideGroups}}};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":260,"wires":[["a32e5716.18ed2","d1b15a65.87b"]]},{"id":"d16f29.c6cdd0d8","type":"ui_form","z":"c573c280.684108","name":"Start set value","label":"","group":"c54221fd.24dd88","order":0,"width":0,"height":0,"options":[{"label":"Value","value":"value","type":"number","required":true,"rows":null}],"formValue":{"value":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1080,"y":340,"wires":[["a4cfaf55.b0393"]]},{"id":"a06fc41.3c76838","type":"ui_form","z":"c573c280.684108","name":"Start poll sensor","label":"","group":"b01c4967.391d08","order":0,"width":0,"height":0,"options":[{"label":"Inverval in s","value":"interval_s","type":"number","required":true,"rows":null},{"label":"Duration in s (forever if 0)","value":"duration_s","type":"number","required":false,"rows":null}],"formValue":{"interval_s":"","duration_s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1080,"y":440,"wires":[["20615f4d.eec22"]]},{"id":"a4cfaf55.b0393","type":"function","z":"c573c280.684108","name":"start task","func":"parameters = {};\n// Set the peripheral UUID\nconst peripheralGID = new Buffer(\n  flow.get(\"peripheral\").peripheralGID,\n  \"base64\"\n);\nparameters[\"peripheral\"] = peripheralGID.toString().split(\":\")[1];\n// Set the data point type UUID\nconst dataPointTypeGID = new Buffer.from(\n  flow.get(\"writeActuatorDataPointTypeGID\"),\n  \"base64\"\n).toString();\nparameters[\"data_point_type\"] = dataPointTypeGID.split(\":\")[1];\n// Set the value\nparameters[\"value\"] = msg.payload.value;\n\nreturn {\n  variables: {\n    input: {\n      controllerComponent: flow.get(\"controllerComponentGID\"),\n      taskType: flow.get(\"taskType\"),\n      parameters: JSON.stringify(parameters),\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":340,"wires":[["3789635b.16523c"]]},{"id":"bca200a3.ba5648","type":"function","z":"c573c280.684108","name":"set controllerComponentGID","func":"try {\n    flow.set(\"controllerComponentGID\", msg.payload.siteEntity.peripheralComponent.controllerComponent.id);\n} catch(err) {\n    flow.set(\"controllerComponentGID\", null);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":180,"wires":[["b23994e3.68fff"]]},{"id":"c470ac0b.de1d08","type":"function","z":"c573c280.684108","name":"set taskType","func":"flow.set(\"taskType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[]},{"id":"3789635b.16523c","type":"graphql","z":"c573c280.684108","name":"start controller task","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"plain","template":"mutation startControllerTask($input: StartControllerTaskInput!) {\n  startControllerTask(input: $input) {\n    controllerTask{\n      id\n      controllerComponent {id}\n      taskType\n      state\n      parameters\n      runUntil\n    }\n  }\n}","x":1730,"y":340,"wires":[["9910e33d.b5f648"],["9910e33d.b5f648"]]},{"id":"7ed32ad6.32365c","type":"ui_toast","z":"c573c280.684108","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2080,"y":340,"wires":[]},{"id":"9910e33d.b5f648","type":"function","z":"c573c280.684108","name":"to notification","func":"if(msg.payload.error){\n    return {payload: msg.payload.error};\n}\ntry {\n    return {\n        payload: `Successfully starting ${msg.payload.startControllerTask.controllerTask.taskType} task`\n    };\n} catch(error) {\n    return {payload: \"Unable to start controller task\"};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":340,"wires":[["7ed32ad6.32365c"]]},{"id":"86bd1ec9.0208c8","type":"link in","z":"a848f917.d6fe68","name":"peripheral","links":["67e96194.397248"],"x":35,"y":300,"wires":[["23c57100.777778","27184c81.5056e4","b605d825.9c4288"]]},{"id":"4bcc85f0.d15e34","type":"function","z":"84cc5fb7.b09ef","name":"get controller and site","func":"return {\n  payload: {\n    SEControllerGID: flow.get(\"SEControllerGID\"),\n    siteGID: flow.get(\"siteGID\"),\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":420,"wires":[["67e96194.397248"]]},{"id":"67e96194.397248","type":"link out","z":"84cc5fb7.b09ef","name":"","links":["86bd1ec9.0208c8"],"x":2035,"y":420,"wires":[]},{"id":"123e696f.73f0ff","type":"function","z":"84cc5fb7.b09ef","name":"goto tab","func":"return {payload: {tab: \"AddPeripheral\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":380,"wires":[["355c3bd9.86415c"]]},{"id":"e22e8db5.ba9468","type":"function","z":"84cc5fb7.b09ef","name":"set SEControllerGID","func":"flow.set(\"SEControllerGID\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1300,"y":160,"wires":[]},{"id":"23c57100.777778","type":"debug","z":"a848f917.d6fe68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":360,"wires":[]},{"id":"27184c81.5056e4","type":"graphql","z":"a848f917.d6fe68","name":"getPeripheralTypes","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"{\n  peripheralComponentEnums{\n    peripheralTypes {\n      value\n      label\n    }\n  }\n  allDataPointTypes{\n    edges{\n      node{\n        id\n        name\n        unit\n      }\n    }\n  }\n  siteEntity(id: \"{{payload.SEControllerGID}}\") {\n    controllerComponent{\n      id\n    }\n  }\n}","x":190,"y":300,"wires":[["1bbf63c4.a081f4","698599a9.595128","8028c9c2.b74768","4fc3554c.2094f4"],[]]},{"id":"829b8c00.5c7d1","type":"ui_dropdown","z":"a848f917.d6fe68","name":"","label":"","tooltip":"","place":"Select option","group":"cab5a419.07e67","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":300,"wires":[["7255afd5.7c792","bc5c11e0.c1ca"]]},{"id":"1bbf63c4.a081f4","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\noptions = msg.payload.peripheralComponentEnums.peripheralTypes\n  .sort((peripheralA, peripheralB) =>\n    peripheralA.label.localeCompare(peripheralB.label)\n  )\n  .map((peripheralType) => ({ [peripheralType.label]: peripheralType.value }));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":300,"wires":[["829b8c00.5c7d1"]]},{"id":"99fdf1f6.b78b8","type":"ui_button","z":"c573c280.684108","name":"back","group":"355408ad.50dd5","order":5,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":250,"y":100,"wires":[["d9b088db.b90eb"]]},{"id":"d9b088db.b90eb","type":"ui_ui_control","z":"c573c280.684108","name":"","events":"all","x":380,"y":100,"wires":[[]]},{"id":"327c26f2.4d97c2","type":"ui_button","z":"a848f917.d6fe68","name":"back","group":"cab5a419.07e67","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":150,"y":180,"wires":[["eb5997c0.2c28d"]]},{"id":"eb5997c0.2c28d","type":"ui_ui_control","z":"a848f917.d6fe68","name":"","events":"all","x":280,"y":180,"wires":[[]]},{"id":"35beff10.06871","type":"function","z":"c573c280.684108","name":"set taskTypes","func":"flow.set(\"taskTypes\", msg.payload.controllerTaskEnums.taskTypes);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["bca200a3.ba5648"]]},{"id":"2a502df7.563942","type":"function","z":"c573c280.684108","name":"hide form groups","func":"let taskFormGroups = msg.payload.controllerTaskEnums.taskTypes.map(\n    (taskType) => \"StartTask_\".concat(taskType.value)\n);\nreturn {payload: {group: {hide: taskFormGroups}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":180,"wires":[["7e380b0a.9237f4"]]},{"id":"7e380b0a.9237f4","type":"ui_ui_control","z":"c573c280.684108","name":"","events":"all","x":1300,"y":180,"wires":[[]]},{"id":"51ca7c8c.427414","type":"comment","z":"c573c280.684108","name":"Additional task types can be added here...","info":"","x":1160,"y":500,"wires":[]},{"id":"7255afd5.7c792","type":"function","z":"a848f917.d6fe68","name":"set peripheralType","func":"flow.set(\"peripheralType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":770,"y":260,"wires":[]},{"id":"bc5c11e0.c1ca","type":"function","z":"a848f917.d6fe68","name":"show form group","func":"let peripheralTypes = flow.get(\"peripheralTypes\");\nhideGroups = peripheralTypes\n  .filter((peripheralType) => peripheralType.value != msg.payload)\n  .map((peripheralType) => \"AddPeripheral_\".concat(peripheralType.value));\nshowGroup = \"AddPeripheral_\".concat(msg.payload);\n\nreturn { payload: { group: { show: showGroup, hide: hideGroups } } };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":300,"wires":[["34a4d03c.57651","61efc661.18e4c8"]]},{"id":"34a4d03c.57651","type":"ui_ui_control","z":"a848f917.d6fe68","name":"","events":"all","x":960,"y":260,"wires":[[]]},{"id":"698599a9.595128","type":"function","z":"a848f917.d6fe68","name":"set peripheralTypes","func":"flow.set(\"peripheralTypes\", msg.payload.peripheralComponentEnums.peripheralTypes);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["a231361e.63c6d"]]},{"id":"148a759b.db1542","type":"function","z":"a848f917.d6fe68","name":"hide form groups","func":"let peripheralFormGroups = msg.payload.peripheralComponentEnums.peripheralTypes.map(\n    (peripheralType) => \"AddPeripheral_\".concat(peripheralType.value)\n);\nreturn {payload: {group: {hide: peripheralFormGroups}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":220,"wires":[["8652c955.4ecfa8"]]},{"id":"8652c955.4ecfa8","type":"ui_ui_control","z":"a848f917.d6fe68","name":"","events":"all","x":1040,"y":220,"wires":[[]]},{"id":"8028c9c2.b74768","type":"debug","z":"a848f917.d6fe68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"4fc3554c.2094f4","type":"function","z":"a848f917.d6fe68","name":"set dataPointTypes","func":"let dataPointTypes = [];\ntry {\n  dataPointTypes = msg.payload.allDataPointTypes.edges\n    .map((edge) => edge.node)\n    .sort((dptA, dptB) => dptA.name.localeCompare(dptB.name));\n} catch (err) {\n  dataPointTypes = [{ name: \"None\", unit: \"N/A\", id: \"\" }];\n}\nflow.set(\"dataPointTypes\", dataPointTypes);\nreturn { payload: dataPointTypes };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":360,"wires":[[]]},{"id":"af919354.cf8158","type":"graphql","z":"a848f917.d6fe68","name":"add peripheral","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"mutation createPeripheralComponent($input: CreatePeripheralComponentInput!) {\n  createPeripheralComponent(input: $input) {\n    peripheralComponent {\n      id\n      siteEntity {\n        id\n        name\n      }\n      controllerComponent {\n        id\n      }\n      peripheralType\n      state\n      parameters\n    }\n  }\n}\n","x":1940,"y":1020,"wires":[["19fc0513.b897e3"],["19fc0513.b897e3"]]},{"id":"1bc35004.39224","type":"ui_toast","z":"a848f917.d6fe68","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2280,"y":1020,"wires":[]},{"id":"19fc0513.b897e3","type":"function","z":"a848f917.d6fe68","name":"to notification","func":"if(msg.payload.error){\n    return {payload: msg.payload.error};\n}\ntry {\n    return {\n        payload: `Adding ${msg.payload.createPeripheralComponent.peripheralComponent.siteEntity.name} peripheral`\n    };\n} catch(error) {\n    return {payload: \"Unable to create peripheral\"};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":1020,"wires":[["1bc35004.39224"]]},{"id":"6d4322d.667995c","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Digital In DPT","label":"","tooltip":"","place":"Select on/off type","group":"c4498aee.67ccf","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":340,"wires":[["6252ee59.d74d48"]]},{"id":"6252ee59.d74d48","type":"function","z":"a848f917.d6fe68","name":"set digitalInDataPointTypeGID","func":"flow.set(\"digitalInDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1450,"y":340,"wires":[]},{"id":"85a2ebee.4fccd8","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":340,"wires":[["6d4322d.667995c"]]},{"id":"fc3755e6.f6106","type":"ui_form","z":"a848f917.d6fe68","name":"Parameters","label":"","group":"c4498aee.67ccf","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":420,"wires":[["6d5b20d8.874d28"]]},{"id":"6d5b20d8.874d28","type":"function","z":"a848f917.d6fe68","name":"add digital in peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n  input_type: flow.get(\"digitalInInputType\")\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet digitalInDataPointTypeGID = flow.get(\"digitalInDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"DigitalIn\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: digitalInDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":420,"wires":[["af919354.cf8158"]]},{"id":"7e7f6f30.2f7d7","type":"comment","z":"a848f917.d6fe68","name":"Additional peripheral types can be added here...","info":"","x":1160,"y":1380,"wires":[]},{"id":"a231361e.63c6d","type":"function","z":"a848f917.d6fe68","name":"set controllerComponentGID","func":"try {\n    flow.set(\"controllerComponentGID\", msg.payload.siteEntity.controllerComponent.id);\n} catch(err) {\n    flow.set(\"controllerComponentGID\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["148a759b.db1542"]]},{"id":"4ad0342a.2a6b2c","type":"function","z":"84cc5fb7.b09ef","name":"set siteGID","func":"flow.set(\"siteGID\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":160,"wires":[[]]},{"id":"b605d825.9c4288","type":"function","z":"a848f917.d6fe68","name":"set siteGID","func":"try {\n    flow.set(\"siteGID\", msg.payload.siteGID);\n} catch(err) {\n    flow.set(\"siteGID\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":260,"wires":[[]]},{"id":"7c435fa4.e7f07","type":"ui_dropdown","z":"84cc5fb7.b09ef","name":"data point types","label":"","tooltip":"","place":"Select data point type","group":"93b56b3e.6838d","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":2360,"y":140,"wires":[["7466f0e2.4b5a48","d680eb2b.4acb9","db837118.b1a838"]]},{"id":"d94e3f4a.b3a03","type":"graphql","z":"84cc5fb7.b09ef","name":"data points","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"query {\n  allDataPoints(peripheralComponent_SiteEntity: \"{{siteEntity}}\", dataPointType: \"{{dataPointType}}\", last: 100){\n    edges{\n      node{\n        time\n        value\n      }\n    }\n  }\n}","x":2730,"y":140,"wires":[["979f0e2a.a2ced8"],["979f0e2a.a2ced8"]],"icon":"font-awesome/fa-search"},{"id":"32c6bcbb.6add4c","type":"graphql","z":"84cc5fb7.b09ef","name":"data point types","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"{\n  allDataPointTypes(peripheralComponentSet_SiteEntity: \"{{payload}}\"){\n    edges{\n      node{\n        id\n        name\n        unit\n      }\n    }\n  }\n  siteEntity(id: \"{{payload}}\") {\n    name\n    peripheralComponent {\n      peripheralType\n      state\n      otherParameters\n      createdAt\n      modifiedAt\n    }    \n  }\n}","x":1880,"y":140,"wires":[["8fa2aa3e.8ad388","d27262a1.0b4b3","20ed476c.1cd458"],["8fa2aa3e.8ad388"]],"icon":"font-awesome/fa-search"},{"id":"8fa2aa3e.8ad388","type":"function","z":"84cc5fb7.b09ef","name":"to dropdown","func":"let controller_msg = {};\ntry {\n  let options = msg.payload.allDataPointTypes.edges.map((edge) => ({\n    [`${edge.node.name} in ${edge.node.unit}`]: edge.node.id,\n  }));\n  controller_msg[\"options\"] = options;\n} catch (error) {\n  controller_msg[\"options\"] = \"Request failed\";\n}\n\nreturn controller_msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":140,"wires":[["7c435fa4.e7f07","1ece62d2.c2a995"]],"outputLabels":["controller SE"]},{"id":"fa995d00.6bebb8","type":"function","z":"84cc5fb7.b09ef","name":"show","func":"return {payload: {group: {show: [\"Home_PeripheralData\"]}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":260,"wires":[["4a5c61e0.e4ec98"]]},{"id":"4a5c61e0.e4ec98","type":"ui_ui_control","z":"84cc5fb7.b09ef","name":"","events":"all","x":1980,"y":260,"wires":[[]]},{"id":"d06979cf.7d7098","type":"ui_text","z":"c573c280.684108","group":"355408ad.50dd5","order":3,"width":0,"height":0,"name":"","label":"Use poll sensor or set value","format":"","layout":"row-spread","x":320,"y":320,"wires":[]},{"id":"7466f0e2.4b5a48","type":"function","z":"84cc5fb7.b09ef","name":"get data points","func":"return {\n  siteEntity: flow.get(\"SEPeripheralGID\"),\n  dataPointType: msg.payload,\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":140,"wires":[["d94e3f4a.b3a03"]]},{"id":"9b330daf.645fd8","type":"function","z":"84cc5fb7.b09ef","name":"set SEPeripheralGID","func":"flow.set(\"SEPeripheralGID\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1900,"y":200,"wires":[]},{"id":"979f0e2a.a2ced8","type":"function","z":"84cc5fb7.b09ef","name":"to chart","func":"let dataPointType = flow.get(\"dataPointType\");\nlet dataPoints = msg.payload.allDataPoints.edges.map((edge) =>\n    ({x: edge.node.time, y: edge.node.value})\n);\nif(dataPoints.length > 0) {\n    msg = {\n        payload: [{\n            series: [dataPointType.id],\n            data: [\n                dataPoints\n            ],\n            labels: [\"\"]\n        }],\n        label: \"Data Points\"\n    };\n} else {\n    msg = {\n        payload: [],\n        label: \"No Data\"\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2900,"y":140,"wires":[["aa1d8f87.e2ea4"]]},{"id":"d680eb2b.4acb9","type":"function","z":"84cc5fb7.b09ef","name":"set dataPointType","func":"let dataPointTypes = flow.get(\"dataPointTypes\");\nflow.set(\"dataPointType\", dataPointTypes.find((dataPointType) => dataPointType.id === msg.payload));","outputs":0,"noerr":0,"initialize":"","finalize":"","x":2570,"y":100,"wires":[]},{"id":"db837118.b1a838","type":"function","z":"84cc5fb7.b09ef","name":"clear graph","func":"return { payload: [], label: \"No Data\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2550,"y":200,"wires":[["aa1d8f87.e2ea4"]]},{"id":"1ece62d2.c2a995","type":"delay","z":"84cc5fb7.b09ef","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2295,"y":200,"wires":[["db837118.b1a838"]],"l":false},{"id":"d27262a1.0b4b3","type":"function","z":"84cc5fb7.b09ef","name":"set dataPointTypes","func":"try {\n  flow.set(\"dataPointTypes\", msg.payload.allDataPointTypes.edges.map((edge) => edge.node));\n} catch (error) {\n  flow.set(\"dataPointTypes\", [])\n}","outputs":0,"noerr":0,"initialize":"","finalize":"","x":2190,"y":100,"wires":[]},{"id":"285d963c.de7daa","type":"ui_button","z":"84cc5fb7.b09ef","name":"Retry","group":"245dc57c.f36912","order":4,"width":"3","height":"1","passthru":false,"label":"Reconnect","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":160,"wires":[["862d025e.9914e8"]]},{"id":"65fa7e14.356518","type":"ui_text","z":"84cc5fb7.b09ef","group":"245dc57c.f36912","order":2,"width":"3","height":"1","name":"Server code link","label":"<a href=\"https://github.com/protohaus/sdg-server/tree/update-farm-app\" target=”_blank\">Server Code</a>","format":"","layout":"row-spread","x":240,"y":260,"wires":[]},{"id":"1370bce0.ad8163","type":"ui_text","z":"84cc5fb7.b09ef","group":"245dc57c.f36912","order":3,"width":"3","height":"1","name":"Controller code link","label":"<a href=\"https://github.com/protohaus/sdg-controller/tree/Unstable\" target=”_blank\">Controller Code</a>","format":"","layout":"row-spread","x":250,"y":300,"wires":[]},{"id":"94abe3ab.63e5f","type":"ui_text","z":"84cc5fb7.b09ef","group":"245dc57c.f36912","order":3,"width":"3","height":"1","name":"Contact link","label":"<a href=\"mailto:moritz.ulmer@posteo.de\">Contact</a>","format":"","layout":"row-spread","x":230,"y":340,"wires":[]},{"id":"cd7816f6.2d15c","type":"comment","z":"a848f917.d6fe68","name":"Add DigitalIn peripheral","info":"","x":1080,"y":300,"wires":[]},{"id":"83ac38e0.118d68","type":"comment","z":"a848f917.d6fe68","name":"Add I2C adapter","info":"","x":1060,"y":1020,"wires":[]},{"id":"31ec5946.dccf0e","type":"ui_form","z":"a848f917.d6fe68","name":"Parameters","label":"","group":"f397dec3.c058d8","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"SCL pin #","value":"scl","type":"number","required":true,"rows":null},{"label":"SDA pin #","value":"sda","type":"number","required":true,"rows":null}],"formValue":{"name":"","scl":"","sda":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1050,"y":1060,"wires":[["1b55864a.86321a"]]},{"id":"1b55864a.86321a","type":"function","z":"a848f917.d6fe68","name":"add I2C adapter","func":"let otherParameters = {\n  scl: msg.payload.scl,\n  sda: msg.payload.sda\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet LEDDataPointTypeGID = flow.get(\"LEDDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"I2CAdapter\",\n      otherParameters: JSON.stringify(otherParameters),\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1060,"wires":[["af919354.cf8158"]]},{"id":"8ee5a747.988ee8","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Temperature DPT","label":"temperature","tooltip":"","place":"Select type","group":"b895e418.a33458","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1230,"y":1140,"wires":[["8e833127.ddc59"]]},{"id":"8e833127.ddc59","type":"function","z":"a848f917.d6fe68","name":"set temperature","func":"flow.set(\"BME280TemperatureDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1140,"wires":[]},{"id":"a054afab.4e7ef8","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1140,"wires":[["8ee5a747.988ee8"]]},{"id":"81bcd8b8.4c0a08","type":"comment","z":"a848f917.d6fe68","name":"Add BME/P280 peripheral","info":"","x":1090,"y":1100,"wires":[]},{"id":"d522224.52e30e","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Humidity DPT","label":"humidity","tooltip":"","place":"Select type","group":"b895e418.a33458","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":1220,"wires":[["f7fbc80d.0dbb88"]]},{"id":"f7fbc80d.0dbb88","type":"function","z":"a848f917.d6fe68","name":"set humidity","func":"flow.set(\"BME280HumidityDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1220,"wires":[]},{"id":"b9a79191.69134","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\n\n// As the BMP280 has no humidity sensor, but the BME280 does, add this option\noptions.unshift({\"Nicht zutreffend (BMP280)\": null});\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1220,"wires":[["d522224.52e30e"]]},{"id":"c7532f0e.be2778","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Pressure DPT","label":"pressure","tooltip":"","place":"Select type","group":"b895e418.a33458","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":1180,"wires":[["d49096f6.ba7578"]]},{"id":"d49096f6.ba7578","type":"function","z":"a848f917.d6fe68","name":"set pressure","func":"flow.set(\"BME280PressureDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1180,"wires":[]},{"id":"94ddbafb.8d0178","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1180,"wires":[["c7532f0e.be2778"]]},{"id":"3ba55d10.13cc4a","type":"ui_form","z":"a848f917.d6fe68","name":"Parameters","label":"","group":"b895e418.a33458","order":5,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"I2C address","value":"I2CAddress","type":"number","required":true,"rows":null}],"formValue":{"name":"","I2CAddress":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1050,"y":1300,"wires":[["2875fd0f.449a3a"]]},{"id":"2875fd0f.449a3a","type":"function","z":"a848f917.d6fe68","name":"add BME280 sensor","func":"let otherParameters = {\n  i2c_adapter: flow.get(\"BME280I2CAdapterUUID\"),\n  i2c_address: msg.payload.I2CAddress\n};\nlet dataPointTypeEdges = [\n    {\n        dataPointType: flow.get(\"BME280TemperatureDataPointTypeGID\"),\n        parameterPrefix: \"temperature\",\n    },\n    {\n        dataPointType: flow.get(\"BME280PressureDataPointTypeGID\"),\n        parameterPrefix: \"pressure\",\n    }\n];\n// Only add humidity data point type for the BME280, BMP280 does not need it\nlet humidityDataPointType = flow.get(\"BME280HumidityDataPointTypeGID\");\nif(humidityDataPointType) {\n  dataPointTypeEdges.push({\n      dataPointType: humidityDataPointType,\n      parameterPrefix: \"humidity\"\n  });\n}\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"BME280\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: dataPointTypeEdges\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":1300,"wires":[["af919354.cf8158"]]},{"id":"75845fb3.d29808","type":"ui_dropdown","z":"a848f917.d6fe68","name":"I2C Adapter","label":"","tooltip":"","place":"Select I2C adapter","group":"b895e418.a33458","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1570,"y":1260,"wires":[["be70fcf7.f698d"]]},{"id":"be70fcf7.f698d","type":"function","z":"a848f917.d6fe68","name":"set I2C adapter","func":"let i2cAdapterGID = new Buffer.from(msg.payload, 'base64').toString();\nflow.set(\"BME280I2CAdapterUUID\", i2cAdapterGID.split(\":\")[1])","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1260,"wires":[]},{"id":"f2336d1c.5a1fa8","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"let options = msg.payload.allPeripheralComponents.edges.map((i2cAdapter) => ({\n  [`${i2cAdapter.node.siteEntity.name} (${i2cAdapter.node.state})`]: i2cAdapter.node.siteEntity.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1260,"wires":[["75845fb3.d29808"]]},{"id":"cdb9f7c3.fe90d8","type":"graphql","z":"a848f917.d6fe68","name":"getI2CAdapters","graphql":"2313d0ca.6dd0e8","format":"handlebars","syntax":"mustache","template":"query {\n  allPeripheralComponents(controllerComponent: \"{{payload}}\", peripheralType: \"I2CAdapter\") {\n    edges{\n      node{\n        siteEntity{\n          id\n          name\n        }\n        state\n      }\n    }\n  }\n}","x":1240,"y":1260,"wires":[["f2336d1c.5a1fa8"],["f2336d1c.5a1fa8"]]},{"id":"6bd22db1.c9fafc","type":"function","z":"a848f917.d6fe68","name":"get I2C adapters","func":"return { payload: flow.get(\"controllerComponentGID\") };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1260,"wires":[["cdb9f7c3.fe90d8"]]},{"id":"61efc661.18e4c8","type":"delay","z":"a848f917.d6fe68","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":915,"y":300,"wires":[["85a2ebee.4fccd8","a054afab.4e7ef8","b9a79191.69134","94ddbafb.8d0178","6bd22db1.c9fafc","1b7951c1.b7f2de","acfcf86b.f521f8","60860263.bb18ac","f180368d.b22d8","b3ea7451.d53cc","b7d7b3b7.a113d8"]],"l":false},{"id":"dae6a2a7.209df","type":"ui_text","z":"a848f917.d6fe68","group":"b895e418.a33458","order":5,"width":0,"height":0,"name":"I2C addresses","label":"I2C address is 119 (0x77) or 118 (0x76)","format":"","layout":"row-left","x":1060,"y":1340,"wires":[]},{"id":"4b693861.1b858","type":"ui_text","z":"84cc5fb7.b09ef","group":"93b56b3e.6838d","order":5,"width":0,"height":0,"name":"","label":"Type","format":"{{msg.payload.type}}","layout":"row-spread","x":2290,"y":280,"wires":[]},{"id":"74c51a73.cdabf4","type":"ui_text","z":"84cc5fb7.b09ef","group":"93b56b3e.6838d","order":5,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":2290,"y":240,"wires":[]},{"id":"f63b1f20.63e18","type":"ui_text","z":"84cc5fb7.b09ef","group":"93b56b3e.6838d","order":5,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload.state}}","layout":"row-spread","x":2290,"y":320,"wires":[]},{"id":"3bf254f4.c4c3a4","type":"ui_text","z":"84cc5fb7.b09ef","group":"93b56b3e.6838d","order":5,"width":0,"height":0,"name":"","label":"Created at","format":"{{msg.payload.createdAt}}","layout":"row-spread","x":2490,"y":400,"wires":[]},{"id":"b3dde74f.66eaf","type":"ui_text","z":"84cc5fb7.b09ef","group":"93b56b3e.6838d","order":5,"width":0,"height":0,"name":"","label":"Modified at","format":"{{msg.payload.modifiedAt}}","layout":"row-spread","x":2490,"y":440,"wires":[]},{"id":"20ed476c.1cd458","type":"function","z":"84cc5fb7.b09ef","name":"to text","func":"let controller_msg = {};\nlet options = msg.payload.allDataPointTypes.edges.map((edge) => ({\n[`${edge.node.name} in ${edge.node.unit}`]: edge.node.id,\n}));\n\nreturn {\n    payload: {\n        name: msg.payload.siteEntity.name,\n        type: msg.payload.siteEntity.peripheralComponent.peripheralType,\n        state: msg.payload.siteEntity.peripheralComponent.state,\n        otherParameters: msg.payload.siteEntity.peripheralComponent.otherParameters,\n        createdAt: msg.payload.siteEntity.peripheralComponent.createdAt,\n        modifiedAt: msg.payload.siteEntity.peripheralComponent.modifiedAt\n    }\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2150,"y":240,"wires":[["74c51a73.cdabf4","4b693861.1b858","f63b1f20.63e18","874c72d1.8f201","a1168e53.d7fdb","5eecc3f3.12c444"]],"outputLabels":["controller SE"]},{"id":"874c72d1.8f201","type":"moment","z":"84cc5fb7.b09ef","name":"Format date","topic":"","input":"payload.createdAt","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm D/MM/YY","locale":"de-DE","output":"payload.createdAt","outputType":"msg","outTz":"Europe/Berlin","x":2310,"y":400,"wires":[["3bf254f4.c4c3a4"]]},{"id":"a1168e53.d7fdb","type":"moment","z":"84cc5fb7.b09ef","name":"Format date","topic":"","input":"payload.modifiedAt","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm D/MM/YY","locale":"de-DE","output":"payload.modifiedAt","outputType":"msg","outTz":"Europe/Berlin","x":2310,"y":440,"wires":[["b3dde74f.66eaf"]]},{"id":"710e9d66.7a00cc","type":"ui_text","z":"84cc5fb7.b09ef","group":"7df86a7f.9a919c","order":2,"width":0,"height":0,"name":"Sample data","label":"Sample data in Demo BME280 - A","format":"","layout":"row-spread","x":1670,"y":480,"wires":[]},{"id":"a32e5716.18ed2","type":"ui_ui_control","z":"c573c280.684108","name":"","events":"all","x":1000,"y":220,"wires":[[]]},{"id":"e5e9855f.d20fd","type":"comment","z":"c573c280.684108","name":"Set value task","info":"","x":1070,"y":260,"wires":[]},{"id":"88192cf6.4d96e","type":"comment","z":"c573c280.684108","name":"Poll sensor task","info":"","x":1080,"y":400,"wires":[]},{"id":"d1b15a65.87b","type":"delay","z":"c573c280.684108","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":955,"y":260,"wires":[["65db67c2.ded51"]],"l":false},{"id":"b23994e3.68fff","type":"function","z":"c573c280.684108","name":"set dataPointTypes","func":"let dataPointTypes = [];\ntry {\n  dataPointTypes = msg.payload.siteEntity.peripheralComponent.dataPointTypeSet.edges.map(\n    (edge) => edge.node\n  );\n} catch (err) {\n  dataPointTypes = [{ name: \"None\", unit: \"N/A\", id: \"\" }];\n}\nflow.set(\"dataPointTypes\", dataPointTypes);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":180,"wires":[["2a502df7.563942"]]},{"id":"133e86e3.e3c669","type":"function","z":"84cc5fb7.b09ef","name":"set controllerName","func":"flow.set(\"controllerName\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1690,"y":120,"wires":[]},{"id":"d2d70df0.269828","type":"ui_text","z":"c573c280.684108","group":"355408ad.50dd5","order":1,"width":0,"height":0,"name":"","label":"Controller:","format":"{{msg.payload.controllerName}}","layout":"row-spread","x":270,"y":180,"wires":[]},{"id":"30227224.3132ee","type":"ui_dropdown","z":"c573c280.684108","name":"","label":"","tooltip":"","place":"Select option","group":"c54221fd.24dd88","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":300,"wires":[["2311ee26.6cc39a"]]},{"id":"65db67c2.ded51","type":"function","z":"c573c280.684108","name":"to dropdown","func":"let options = flow.get(\"dataPointTypes\").map(\n  (dataPointType) => ({[`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id})\n);\n\nlet firstValue = Object.values(options[0])[0];\nreturn { options: options, payload: firstValue };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":300,"wires":[["30227224.3132ee"]]},{"id":"2311ee26.6cc39a","type":"function","z":"c573c280.684108","name":"set setValueDataPointTypeGID","func":"flow.set(\"setValueDataPointTypeGID\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":300,"wires":[[]]},{"id":"20615f4d.eec22","type":"function","z":"c573c280.684108","name":"start task","func":"var moment = global.get(\"moment\");\n\nparameters = {};\n// Set the peripheral UUID\nconst peripheralGID = new Buffer(\n  flow.get(\"peripheral\").peripheralGID,\n  \"base64\"\n);\nparameters[\"peripheral\"] = peripheralGID.toString().split(\":\")[1];\n// Set the interval\nparameters[\"interval_ms\"] = msg.payload.interval_s * 1000;\n\n// Get all relevant variables\nlet variables = {\n  input: {\n    controllerComponent: flow.get(\"controllerComponentGID\"),\n    taskType: flow.get(\"taskType\"),\n    parameters: JSON.stringify(parameters),\n  },\n};\n// If a timeout is specified, add the run_until datetime\nif (msg.payload.duration_s) {\n  variables.input.runUntil = moment().add(msg.payload.duration_s, \"s\").format();\n}\n\nreturn {variables: variables};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":440,"wires":[["3789635b.16523c"]]},{"id":"86abd4ee.16135","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Digital In input type","label":"","tooltip":"","place":"Select input type","group":"c4498aee.67ccf","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Floating (default)","value":"floating","type":"str"},{"label":"Pullup","value":"pullup","type":"str"},{"label":"Pulldown","value":"pulldown","type":"str"}],"payload":"","topic":"","x":1070,"y":380,"wires":[["96f6b3a6.3a0128"]]},{"id":"96f6b3a6.3a0128","type":"function","z":"a848f917.d6fe68","name":"set digitalInInputType","func":"flow.set(\"digitalInInputType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1280,"y":380,"wires":[]},{"id":"5736653b.48727c","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Digital Out DPT","label":"","tooltip":"","place":"Select on/off type","group":"94c865a3.c641b8","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":500,"wires":[["d182eaf3.17f408"]]},{"id":"d182eaf3.17f408","type":"function","z":"a848f917.d6fe68","name":"set digitalOutDataPointTypeGID","func":"flow.set(\"digitalOutDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1450,"y":500,"wires":[]},{"id":"1b7951c1.b7f2de","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":500,"wires":[["5736653b.48727c"]]},{"id":"c341e45a.5924f","type":"ui_form","z":"a848f917.d6fe68","name":"Parameters","label":"","group":"94c865a3.c641b8","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":540,"wires":[["d6dbc850.6fce78"]]},{"id":"c8ee1998.866908","type":"comment","z":"a848f917.d6fe68","name":"Add DigitalOut peripheral","info":"","x":1090,"y":460,"wires":[]},{"id":"d6dbc850.6fce78","type":"function","z":"a848f917.d6fe68","name":"add digital out peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet digitalOutDataPointTypeGID = flow.get(\"digitalOutDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"DigitalOut\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: digitalOutDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":540,"wires":[["af919354.cf8158"]]},{"id":"ee3d949d.829988","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Analog In Percent DPT","label":"","tooltip":"","place":"Select percent type","group":"5e24b6c.f289ac8","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1240,"y":620,"wires":[["4a38ca2e.9f609c"]]},{"id":"4a38ca2e.9f609c","type":"function","z":"a848f917.d6fe68","name":"set analogInPercentDataPointTypeGID","func":"flow.set(\"analogInPercentDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1510,"y":620,"wires":[]},{"id":"acfcf86b.f521f8","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nflow.set(\"analogInPercentDataPointTypeGID\", undefined);\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["ee3d949d.829988"]]},{"id":"7e90cc3c.43bad4","type":"ui_form","z":"a848f917.d6fe68","name":"Parameters","label":"","group":"5e24b6c.f289ac8","order":5,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":700,"wires":[["ac233efe.887378"]]},{"id":"8895e6df.4f5288","type":"comment","z":"a848f917.d6fe68","name":"Add AnalogIn peripheral","info":"","x":1080,"y":580,"wires":[]},{"id":"ac233efe.887378","type":"function","z":"a848f917.d6fe68","name":"add analog in peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet analogInPercentDataPointTypeGID = flow.get(\n  \"analogInPercentDataPointTypeGID\"\n);\nlet analogInVoltageDataPointTypeGID = flow.get(\n  \"analogInVoltageDataPointTypeGID\"\n);\n\nif (!analogInPercentDataPointTypeGID && !analogInVoltageDataPointTypeGID) {\n  node.error(\"No data point type selected\", msg);\n  return;\n}\ndataPointTypeEdges = [];\nif (analogInPercentDataPointTypeGID) {\n  dataPointTypeEdges.push({\n    dataPointType: analogInPercentDataPointTypeGID,\n    parameterPrefix: \"percent\",\n  });\n}\nif (analogInVoltageDataPointTypeGID) {\n  dataPointTypeEdges.push({\n    dataPointType: analogInVoltageDataPointTypeGID,\n    parameterPrefix: \"voltage\",\n  });\n}\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"AnalogIn\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: dataPointTypeEdges,\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":700,"wires":[["af919354.cf8158"]]},{"id":"221f8cb2.753b4c","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Analog Out Percent DPT","label":"","tooltip":"","place":"Select percent type","group":"76be90dc.3da9d","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1250,"y":780,"wires":[["2ca89cd8.7598cc"]]},{"id":"2ca89cd8.7598cc","type":"function","z":"a848f917.d6fe68","name":"set analogOutPercentDataPointTypeGID","func":"flow.set(\"analogOutPercentDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1540,"y":780,"wires":[]},{"id":"60860263.bb18ac","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":780,"wires":[["221f8cb2.753b4c"]]},{"id":"86681aa4.47477","type":"ui_form","z":"a848f917.d6fe68","name":"Parameters","label":"","group":"76be90dc.3da9d","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":860,"wires":[["409043c7.0bb054"]]},{"id":"e2ee5fb4.5f0fd8","type":"comment","z":"a848f917.d6fe68","name":"Add AnalogOut peripheral","info":"","x":1090,"y":740,"wires":[]},{"id":"409043c7.0bb054","type":"function","z":"a848f917.d6fe68","name":"add analog out peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet analogOutPercentDataPointTypeGID = flow.get(\"analogOutPercentDataPointTypeGID\");\nlet analogOutVoltageDataPointTypeGID = flow.get(\"analogOutVoltageDataPointTypeGID\");\n\nlet dataPointTypeEdges = []\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"AnalogOut\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: analogOutDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":860,"wires":[["af919354.cf8158"]]},{"id":"dcd95f52.f12758","type":"ui_dropdown","z":"a848f917.d6fe68","name":"PWM DPT","label":"","tooltip":"","place":"Select PWM type","group":"bb0ad951.6cdd1","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1210,"y":940,"wires":[["298e321f.476b06"]]},{"id":"298e321f.476b06","type":"function","z":"a848f917.d6fe68","name":"set PWMDataPointTypeGID","func":"flow.set(\"PWMDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1440,"y":940,"wires":[]},{"id":"b7d7b3b7.a113d8","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":940,"wires":[["dcd95f52.f12758"]]},{"id":"7c0407ce.8316c8","type":"ui_form","z":"a848f917.d6fe68","name":"Parameters","label":"","group":"bb0ad951.6cdd1","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":980,"wires":[["8bff326a.4ba1b"]]},{"id":"f08d40e5.c3c808","type":"comment","z":"a848f917.d6fe68","name":"Add PWM peripheral","info":"","x":1070,"y":900,"wires":[]},{"id":"8bff326a.4ba1b","type":"function","z":"a848f917.d6fe68","name":"add PWM peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet PWMDataPointTypeGID = flow.get(\"PWMDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"PWM\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: PWMDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":980,"wires":[["af919354.cf8158"]]},{"id":"60e1d699.3ffeb8","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Analog In Voltage DPT","label":"","tooltip":"","place":"Select voltage type","group":"5e24b6c.f289ac8","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1240,"y":660,"wires":[["9ebc5b0d.ef344"]]},{"id":"9ebc5b0d.ef344","type":"function","z":"a848f917.d6fe68","name":"set analogInVoltageDataPointTypeGID","func":"flow.set(\"analogInVoltageDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1510,"y":660,"wires":[]},{"id":"f180368d.b22d8","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nflow.set(\"analogInVoltageDataPointTypeGID\", undefined);\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":660,"wires":[["60e1d699.3ffeb8"]]},{"id":"f95d4f59.c4df9","type":"ui_text","z":"a848f917.d6fe68","group":"5e24b6c.f289ac8","order":1,"width":"3","height":"1","name":"","label":"Select one or both types","format":"","layout":"row-spread","x":810,"y":620,"wires":[]},{"id":"547a4081.491128","type":"ui_button","z":"a848f917.d6fe68","name":"","group":"5e24b6c.f289ac8","order":2,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":660,"wires":[["acfcf86b.f521f8","f180368d.b22d8"]]},{"id":"8d074e32.bfa1e","type":"ui_dropdown","z":"a848f917.d6fe68","name":"Analog Out Voltage DPT","label":"","tooltip":"","place":"Select voltage type","group":"76be90dc.3da9d","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1250,"y":820,"wires":[["6944aca4.f839a4"]]},{"id":"6944aca4.f839a4","type":"function","z":"a848f917.d6fe68","name":"set analogOutVoltageDataPointTypeGID","func":"flow.set(\"analogOutVoltageDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1540,"y":820,"wires":[]},{"id":"b3ea7451.d53cc","type":"function","z":"a848f917.d6fe68","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":820,"wires":[["8d074e32.bfa1e"]]},{"id":"686bc9f9.5e6f2","type":"ui_text","z":"a848f917.d6fe68","group":"76be90dc.3da9d","order":1,"width":"3","height":"1","name":"","label":"Select one type","format":"","layout":"row-spread","x":840,"y":780,"wires":[]},{"id":"91afbe87.ec7178","type":"ui_button","z":"a848f917.d6fe68","name":"","group":"76be90dc.3da9d","order":2,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":820,"wires":[["b3ea7451.d53cc","60860263.bb18ac"]]},{"id":"5eecc3f3.12c444","type":"ui_text","z":"84cc5fb7.b09ef","group":"93b56b3e.6838d","order":5,"width":0,"height":0,"name":"","label":"Other parameters","format":"{{msg.payload.otherParameters}}","layout":"row-spread","x":2330,"y":360,"wires":[]}]