node-red-demo/flows.json
[{"id":"54dd85d1.d273cc","type":"tab","label":"Home","disabled":false,"info":""},{"id":"ca7d773a.8634b","type":"tab","label":"Start Task","disabled":false,"info":""},{"id":"24d9d806.fa68c8","type":"tab","label":"Add Peripheral","disabled":false,"info":""},{"id":"f8662d28.32be8","type":"graphql-server","z":"","endpoint":"http://192.168.0.69:8000/graphql/","name":"SDG Server Dev"},{"id":"ddfd3bf1.7235a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"924b0af8.f21a48","type":"ui_group","z":"","name":"Sites","tab":"ddfd3bf1.7235a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc0c364e.8f3ab","type":"ui_group","z":"","name":"Controllers","tab":"ddfd3bf1.7235a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5caa058.940f38","type":"ui_group","z":"","name":"ControllerDetails","tab":"ddfd3bf1.7235a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"3ef7fa08.4f5096","type":"ui_group","z":"","name":"PeripheralData","tab":"ddfd3bf1.7235a8","order":4,"disp":true,"width":"6","collapse":false},{"id":"eca11923.431b28","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a94e26da.f31a1","type":"ui_tab","z":"","name":"StartTask","icon":"dashboard","disabled":false,"hidden":false},{"id":"4f6a5e91.7d2068","type":"ui_group","z":"","name":"SelectTask","tab":"a94e26da.f31a1","order":1,"disp":true,"width":"6","collapse":false},{"id":"54b5cf3e.b082b8","type":"ui_group","z":"","name":"PollSensor","tab":"a94e26da.f31a1","order":2,"disp":true,"width":"6","collapse":false},{"id":"4d93db6b.ac3a8c","type":"ui_group","z":"","name":"SetValue","tab":"a94e26da.f31a1","order":3,"disp":true,"width":"6","collapse":false},{"id":"56dfc9b7.ac08d8","type":"ui_tab","z":"","name":"AddPeripheral","icon":"dashboard","disabled":false,"hidden":false},{"id":"5da07de2.65eb4c","type":"ui_group","z":"","name":"SelectPeripheralType","tab":"56dfc9b7.ac08d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e3cac5fb.306ab8","type":"ui_group","z":"","name":"DigitalIn","tab":"56dfc9b7.ac08d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"580002fb.157eec","type":"ui_group","z":"","name":"I2CAdapter","tab":"56dfc9b7.ac08d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"66bd22df.64129c","type":"ui_group","z":"","name":"BME280","tab":"56dfc9b7.ac08d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"6071112b.ceebc8","type":"ui_group","z":"","name":"DigitalOut","tab":"56dfc9b7.ac08d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"49e93028.bad278","type":"ui_group","z":"","name":"AnalogIn","tab":"56dfc9b7.ac08d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"103cbdaa.700e92","type":"ui_group","z":"","name":"AnalogOut","tab":"56dfc9b7.ac08d8","order":7,"disp":true,"width":"6","collapse":false},{"id":"d1eafb2a.47bad","type":"ui_group","z":"","name":"PWM","tab":"56dfc9b7.ac08d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"8c18dff7.9e499","type":"function","z":"54dd85d1.d273cc","name":"to dropdown","func":"try {\n  if (msg.payload.allSites.edges.length > 0) {\n    msg = {\n      options: msg.payload.allSites.edges.map((edge) => ({\n        [edge.node.name]: edge.node.id,\n      })),\n    };\n  } else {\n    let empty_result = \"No sites found\";\n    msg = {\n      options: [empty_result],\n      payload: empty_result,\n    };\n  }\n} catch (error) {\n  let error_msg = \"Error requesting sites\";\n  msg = {\n    options: [error_msg],\n    payload: error_msg,\n  };\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["611d2cf4.48560c"]]},{"id":"4f7d8fbe.bc6f48","type":"function","z":"54dd85d1.d273cc","name":"to dropdown","func":"try {\n  if (msg.payload.allSiteEntities.edges.length > 0) {\n    msg = {\n      options: msg.payload.allSiteEntities.edges.map((edge) => ({\n        [edge.node.name]: edge.node.id,\n      })),\n    };\n  } else {\n    let empty_result = \"No controllers found\";\n    msg = {\n      options: [empty_result],\n      payload: empty_result,\n    };\n  }\n} catch (error) {\n  let error_msg = \"Error requesting controllers\";\n  msg = {\n    options: [error_msg],\n    payload: error_msg,\n  };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":200,"wires":[["92e7b591.3605a8"]],"outputLabels":["controller SE"]},{"id":"a8401bc0.603fa","type":"inject","z":"54dd85d1.d273cc","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":200,"wires":[["17d6fbc3.dced6c"]]},{"id":"f8063756.e93aa8","type":"function","z":"54dd85d1.d273cc","name":"hide/show","func":"let have_controllers = false;\ntry{\n    have_controllers = Boolean(\n        msg.payload.allSiteEntities.edges\n    );\n} catch (error) {}\n\n\n\nmsg.payload = {\n    group: {\n        show: [],\n        hide: []\n    }\n};\nif (have_controllers) {\n    msg.payload.group.show.push(\"Home_Controllers\");\n} else {\n    msg.payload.group.hide.push(\"Home_Controllers\");\n}\nmsg.payload.group.hide.push(\"Home_PeripheralData\");\nmsg.payload.group.hide.push(\"Home_ControllerDetails\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":260,"wires":[["6af31157.890ea8"]]},{"id":"706368e3.8fb9d","type":"inject","z":"54dd85d1.d273cc","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":730,"y":260,"wires":[["f8063756.e93aa8"]]},{"id":"a7a9d15.c468a3","type":"function","z":"54dd85d1.d273cc","name":"to details","func":"let controller_msg = { payload: msg.payload.siteEntity.name };\n\nlet peripherals_msg = {};\ntry {\n  edges =\n    msg.payload.siteEntity.controllerComponent.peripheralComponentSet.edges;\n  if (edges.length > 0) {\n    peripherals_msg.options = edges.map((edge) => ({\n      [edge.node.siteEntity.name]: edge.node.siteEntity.id,\n    }));\n    peripherals_msg.peripherals = peripherals_msg[\"options\"];\n  } else {\n    let empty_results = \"No peripherals found\";\n    peripherals_msg.options = [empty_results];\n    peripherals_msg.payload = empty_results;\n    peripherals_msg.peripherals = [];\n  }\n} catch (error) {\n  let error_msg = \"Error requesting peripherals\";\n  peripherals_msg.options = [error_msg];\n  peripherals_msg.payload = error_msg;\n  peripherals_msg.peripherals = [];\n}\n\nlet start_task_msg = { enabled: false };\n\nreturn [controller_msg, peripherals_msg, start_task_msg];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1500,"y":200,"wires":[["704c0f82.ae9af8","c5e29d31.e6fb38"],["b9cd7222.cb13c8","c4575f27.f47ae8"],["1501ef6d.cc4951"]],"outputLabels":["controller SE","",""]},{"id":"493709db.1778e8","type":"delay","z":"54dd85d1.d273cc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":835,"y":200,"wires":[["4f7d8fbe.bc6f48"]],"l":false},{"id":"d7c06928.529138","type":"function","z":"54dd85d1.d273cc","name":"show","func":"return {payload: {group: {show: [\"Home_ControllerDetails\"], hide: [\"Home_PeripheralData\"]}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":420,"wires":[["cf64d6e4.c977c"]]},{"id":"b2fd068c.dfc7","type":"delay","z":"54dd85d1.d273cc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1415,"y":200,"wires":[["a7a9d15.c468a3"]],"l":false},{"id":"64b0bef6.037978","type":"change","z":"54dd85d1.d273cc","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":300,"wires":[["1501ef6d.cc4951"]]},{"id":"fb97fa8c.d7ebe","type":"ui_button","z":"54dd85d1.d273cc","name":"","group":"a5caa058.940f38","order":5,"width":0,"height":0,"passthru":false,"label":"Add peripheral","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1680,"y":380,"wires":[["5ac83ded.8a2f1c","999437ec.7aa94"]]},{"id":"1501ef6d.cc4951","type":"ui_button","z":"54dd85d1.d273cc","name":"","group":"a5caa058.940f38","order":4,"width":0,"height":0,"passthru":false,"label":"Start task","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"startTask","x":1660,"y":300,"wires":[["c4575f27.f47ae8","8de07cf2.b42a98"]]},{"id":"611d2cf4.48560c","type":"ui_dropdown","z":"54dd85d1.d273cc","name":"sites","label":"","tooltip":"","place":"Select option","group":"924b0af8.f21a48","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":510,"y":200,"wires":[["e344eb14.d4a8c8","575d38a5.66fe4"]]},{"id":"92e7b591.3605a8","type":"ui_dropdown","z":"54dd85d1.d273cc","name":"controllers","label":"","tooltip":"","place":"Select controller","group":"bc0c364e.8f3ab","order":0,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1090,"y":200,"wires":[["ae3c306d.95f3e8","31cb5aa7.f27b96"]]},{"id":"b9cd7222.cb13c8","type":"ui_dropdown","z":"54dd85d1.d273cc","name":"peripherals","label":"","tooltip":"","place":"Connected Peripherals","group":"a5caa058.940f38","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1670,"y":200,"wires":[["64b0bef6.037978","c4575f27.f47ae8","d593e4a0.609fc","7689255f.d8e94c","b2ea9cb1.1ce718"]]},{"id":"704c0f82.ae9af8","type":"ui_text","z":"54dd85d1.d273cc","group":"a5caa058.940f38","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-left","x":1650,"y":160,"wires":[]},{"id":"e158a247.1b36a8","type":"ui_chart","z":"54dd85d1.d273cc","name":"","group":"3ef7fa08.4f5096","order":0,"width":0,"height":0,"label":"{{msg.label}}","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":3050,"y":200,"wires":[[]]},{"id":"6af31157.890ea8","type":"ui_ui_control","z":"54dd85d1.d273cc","name":"","events":"all","x":1020,"y":260,"wires":[[]]},{"id":"cf64d6e4.c977c","type":"ui_ui_control","z":"54dd85d1.d273cc","name":"","events":"all","x":1580,"y":420,"wires":[[]]},{"id":"17d6fbc3.dced6c","type":"graphql","z":"54dd85d1.d273cc","name":"all sites","graphql":"f8662d28.32be8","format":"handlebars","syntax":"plain","template":"{allSites{edges{node{id,name}}}}","x":220,"y":200,"wires":[["8c18dff7.9e499"],["8c18dff7.9e499"]],"icon":"font-awesome/fa-search"},{"id":"e344eb14.d4a8c8","type":"graphql","z":"54dd85d1.d273cc","name":"all controller SEs","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"{\n  allSiteEntities(site: \"{{payload}}\", isController: true) {\n    edges{\n      node{\n        id,\n        name,\n        controllerComponent{\n          id\n        }\n      }\n    }\n  }\n}","x":690,"y":200,"wires":[["f8063756.e93aa8","493709db.1778e8"],["493709db.1778e8"]],"icon":"font-awesome/fa-search"},{"id":"ae3c306d.95f3e8","type":"graphql","z":"54dd85d1.d273cc","name":"controller details","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"{\n  siteEntity(id: \"{{payload}}\") {\n    name,\n    controllerComponent {\n      createdAt,\n      peripheralComponentSet{\n        edges{\n          node{\n            siteEntity{id, name}\n          }\n        }\n      }\n    }\n  }\n}","x":1280,"y":200,"wires":[["d7c06928.529138","b2fd068c.dfc7"],["b2fd068c.dfc7"]],"icon":"font-awesome/fa-search"},{"id":"30653d89.681072","type":"link in","z":"ca7d773a.8634b","name":"peripheral","links":["57ad30f0.fe0b9"],"x":135,"y":200,"wires":[["e27b5a87.657fe8","7288e6c2.130e28","3a1b5873.125458"]]},{"id":"c9f67e50.d4f21","type":"ui_dropdown","z":"ca7d773a.8634b","name":"","label":"","tooltip":"","place":"Select option","group":"4f6a5e91.7d2068","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":620,"y":260,"wires":[["ff5764b9.a883f","15bf0941.34d49f"]]},{"id":"7288e6c2.130e28","type":"graphql","z":"ca7d773a.8634b","name":"getTaskTypes","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"{\n  controllerTaskEnums{\n    taskTypes {\n      value\n      label\n    }\n   }\n  siteEntity(id: \"{{payload.peripheralGID}}\") {\n    name\n    peripheralComponent{\n      peripheralType\n      state\n      controllerComponent{id}\n      dataPointTypeSet{\n        edges{\n          node{\n            name\n            unit\n            id\n          }\n        }\n      }\n    }\n  }\n}","x":280,"y":260,"wires":[["54e5b04c.7d1708","2f0a5a4a.77f1c6"],[]]},{"id":"54e5b04c.7d1708","type":"function","z":"ca7d773a.8634b","name":"to dropdown","func":"let options = msg.payload.controllerTaskEnums.taskTypes.map(\n    (taskType) => ({[taskType.label]: taskType.value})\n);\nreturn {options: options};\n\n\n\nlet values = msg.payload.controllerTaskEnums.taskTypeValues;\nlet labels = msg.payload.controllerTaskEnums.taskTypeLabels;\n\nfor(let i = 0; i < values.length; i++) {\n    let option = {};\n    option[labels[i]] = values[i];\n    options.push(option);\n}\nreturn {\"options\": options};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["c9f67e50.d4f21"]]},{"id":"c4575f27.f47ae8","type":"function","z":"54dd85d1.d273cc","name":"set peripheral","func":"if (msg.peripherals) {\n  // peripherals has the format [{peripheralName: peripheralGID}]\n  context.set(\"peripherals\", msg.peripherals);\n} else if (msg.topic === \"startTask\") {\n  let peripherals = context.get(\"peripherals\");\n  let selectedPeripheral = context.get(\"peripheral\");\n  let peripheral = peripherals.find(\n    (peripheral) => Object.values(peripheral)[0] === selectedPeripheral\n  );\n  msg.payload = {\n      peripheralGID: Object.values(peripheral)[0],\n      peripheralName: Object.keys(peripheral)[0],\n      controllerName: flow.get(\"controllerName\")\n  };\n  return msg;\n} else {\n  // peripheral has the format {peripheralName: peripheralGID}\n  context.set(\"peripheral\", msg.payload);\n  return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":300,"wires":[["57ad30f0.fe0b9"]]},{"id":"57ad30f0.fe0b9","type":"link out","z":"54dd85d1.d273cc","name":"","links":["30653d89.681072"],"x":1995,"y":300,"wires":[]},{"id":"e27b5a87.657fe8","type":"function","z":"ca7d773a.8634b","name":"set peripheral","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nflow.set(\"peripheral\", msg.payload)\n\nreturn {payload: msg.payload.peripheralName};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["11859cc7.885c63"]]},{"id":"11859cc7.885c63","type":"ui_text","z":"ca7d773a.8634b","group":"4f6a5e91.7d2068","order":2,"width":0,"height":0,"name":"","label":"Peripheral:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":140,"wires":[]},{"id":"8de07cf2.b42a98","type":"function","z":"54dd85d1.d273cc","name":"goto tab","func":"return {payload: {tab: \"StartTask\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":340,"wires":[["3c55efa.7a6821"]]},{"id":"3c55efa.7a6821","type":"ui_ui_control","z":"54dd85d1.d273cc","name":"","events":"all","x":2020,"y":360,"wires":[[]]},{"id":"ff5764b9.a883f","type":"function","z":"ca7d773a.8634b","name":"show form group","func":"let taskTypes = flow.get(\"taskTypes\");\nhideGroups = taskTypes\n  .filter(taskType => taskType.value != msg.payload)\n  .map((taskType) => \"StartTask_\".concat(taskType.value));\nshowGroup = \"StartTask_\".concat(msg.payload);\n\nreturn {payload: {group: {show: showGroup , hide: hideGroups}}};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":260,"wires":[["e4162e30.36743","47760734.534cf"]]},{"id":"89060051.9fe5c8","type":"ui_form","z":"ca7d773a.8634b","name":"Start set value","label":"","group":"4d93db6b.ac3a8c","order":0,"width":0,"height":0,"options":[{"label":"Value","value":"value","type":"number","required":true,"rows":null}],"formValue":{"value":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1080,"y":340,"wires":[["f1ab28c2.aa53c"]]},{"id":"2bee4794.59c8f8","type":"ui_form","z":"ca7d773a.8634b","name":"Start poll sensor","label":"","group":"54b5cf3e.b082b8","order":0,"width":0,"height":0,"options":[{"label":"Inverval in s","value":"interval_s","type":"number","required":true,"rows":null},{"label":"Duration in s (forever if 0)","value":"duration_s","type":"number","required":false,"rows":null}],"formValue":{"interval_s":"","duration_s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1080,"y":440,"wires":[["3ac9ab15.5e492c"]]},{"id":"f1ab28c2.aa53c","type":"function","z":"ca7d773a.8634b","name":"start task","func":"parameters = {};\n// Set the peripheral UUID\nconst peripheralGID = new Buffer(\n  flow.get(\"peripheral\").peripheralGID,\n  \"base64\"\n);\nparameters[\"peripheral\"] = peripheralGID.toString().split(\":\")[1];\n// Set the data point type UUID\nconst dataPointTypeGID = new Buffer.from(\n  flow.get(\"setValueDataPointTypeGID\"),\n  \"base64\"\n).toString();\nparameters[\"data_point_type\"] = dataPointTypeGID.split(\":\")[1];\n// Set the value\nparameters[\"value\"] = msg.payload.value;\n\nreturn {\n  variables: {\n    input: {\n      controllerComponent: flow.get(\"controllerComponentGID\"),\n      taskType: flow.get(\"taskType\"),\n      parameters: JSON.stringify(parameters),\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":340,"wires":[["71f3d646.2c995"]]},{"id":"9b35da0a.1f7c2","type":"function","z":"ca7d773a.8634b","name":"set controllerComponentGID","func":"try {\n    flow.set(\"controllerComponentGID\", msg.payload.siteEntity.peripheralComponent.controllerComponent.id);\n} catch(err) {\n    flow.set(\"controllerComponentGID\", null);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":180,"wires":[["34511d4f.44bae2"]]},{"id":"15bf0941.34d49f","type":"function","z":"ca7d773a.8634b","name":"set taskType","func":"flow.set(\"taskType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[]},{"id":"71f3d646.2c995","type":"graphql","z":"ca7d773a.8634b","name":"start controller task","graphql":"f8662d28.32be8","format":"handlebars","syntax":"plain","template":"mutation startControllerTask($input: StartControllerTaskInput!) {\n  startControllerTask(input: $input) {\n    controllerTask{\n      id\n      controllerComponent {id}\n      taskType\n      state\n      parameters\n      runUntil\n    }\n  }\n}","x":1730,"y":340,"wires":[["2eee6543.075fe2"],["2eee6543.075fe2"]]},{"id":"bf2f0796.480468","type":"ui_toast","z":"ca7d773a.8634b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2080,"y":340,"wires":[]},{"id":"2eee6543.075fe2","type":"function","z":"ca7d773a.8634b","name":"to notification","func":"if(msg.payload.error){\n    return {payload: msg.payload.error};\n}\ntry {\n    return {\n        payload: `Successfully starting ${msg.payload.startControllerTask.controllerTask.taskType} task`\n    };\n} catch(error) {\n    return {payload: \"Unable to start controller task\"};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":340,"wires":[["bf2f0796.480468"]]},{"id":"2690b2ce.4fd86e","type":"link in","z":"24d9d806.fa68c8","name":"peripheral","links":["fc0f5de4.c4124"],"x":35,"y":300,"wires":[["ff58c323.541e48","7af1105b.488188","b05230e.a0dfc5"]]},{"id":"999437ec.7aa94","type":"function","z":"54dd85d1.d273cc","name":"get controller and site","func":"return {\n  payload: {\n    SEControllerGID: flow.get(\"SEControllerGID\"),\n    siteGID: flow.get(\"siteGID\"),\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":420,"wires":[["fc0f5de4.c4124"]]},{"id":"fc0f5de4.c4124","type":"link out","z":"54dd85d1.d273cc","name":"","links":["2690b2ce.4fd86e"],"x":2035,"y":420,"wires":[]},{"id":"5ac83ded.8a2f1c","type":"function","z":"54dd85d1.d273cc","name":"goto tab","func":"return {payload: {tab: \"AddPeripheral\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":380,"wires":[["3c55efa.7a6821"]]},{"id":"31cb5aa7.f27b96","type":"function","z":"54dd85d1.d273cc","name":"set SEControllerGID","func":"flow.set(\"SEControllerGID\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1300,"y":160,"wires":[]},{"id":"ff58c323.541e48","type":"debug","z":"24d9d806.fa68c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":360,"wires":[]},{"id":"7af1105b.488188","type":"graphql","z":"24d9d806.fa68c8","name":"getPeripheralTypes","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"{\n  peripheralComponentEnums{\n    peripheralTypes {\n      value\n      label\n    }\n  }\n  allDataPointTypes{\n    edges{\n      node{\n        id\n        name\n        unit\n      }\n    }\n  }\n  siteEntity(id: \"{{payload.SEControllerGID}}\") {\n    controllerComponent{\n      id\n    }\n  }\n}","x":190,"y":300,"wires":[["5668b051.6675f","967a889b.abada","b356f87d.8a1718","e6371f0c.af328"],[]]},{"id":"ea5d4ad0.c7b1d","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"","label":"","tooltip":"","place":"Select option","group":"5da07de2.65eb4c","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":300,"wires":[["622c518c.e857b8","f73a211e.7b30e"]]},{"id":"5668b051.6675f","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\noptions = msg.payload.peripheralComponentEnums.peripheralTypes\n  .sort((peripheralA, peripheralB) =>\n    peripheralA.label.localeCompare(peripheralB.label)\n  )\n  .map((peripheralType) => ({ [peripheralType.label]: peripheralType.value }));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":300,"wires":[["ea5d4ad0.c7b1d"]]},{"id":"b53c9b4b.a0a8d","type":"ui_button","z":"ca7d773a.8634b","name":"back","group":"4f6a5e91.7d2068","order":5,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":250,"y":100,"wires":[["a5a68a8b.aa86d8"]]},{"id":"a5a68a8b.aa86d8","type":"ui_ui_control","z":"ca7d773a.8634b","name":"","events":"all","x":380,"y":100,"wires":[[]]},{"id":"cdc3c93a.bf4f68","type":"ui_button","z":"24d9d806.fa68c8","name":"back","group":"5da07de2.65eb4c","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":150,"y":180,"wires":[["635d0072.78a9b8"]]},{"id":"635d0072.78a9b8","type":"ui_ui_control","z":"24d9d806.fa68c8","name":"","events":"all","x":280,"y":180,"wires":[[]]},{"id":"2f0a5a4a.77f1c6","type":"function","z":"ca7d773a.8634b","name":"set taskTypes","func":"flow.set(\"taskTypes\", msg.payload.controllerTaskEnums.taskTypes);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["9b35da0a.1f7c2"]]},{"id":"942b287c.733de8","type":"function","z":"ca7d773a.8634b","name":"hide form groups","func":"let taskFormGroups = msg.payload.controllerTaskEnums.taskTypes.map(\n    (taskType) => \"StartTask_\".concat(taskType.value)\n);\nreturn {payload: {group: {hide: taskFormGroups}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":180,"wires":[["5a4ba69d.19aaa"]]},{"id":"5a4ba69d.19aaa","type":"ui_ui_control","z":"ca7d773a.8634b","name":"","events":"all","x":1300,"y":180,"wires":[[]]},{"id":"76a3b3e.5c062cc","type":"comment","z":"ca7d773a.8634b","name":"Additional task types can be added here...","info":"","x":1160,"y":500,"wires":[]},{"id":"622c518c.e857b8","type":"function","z":"24d9d806.fa68c8","name":"set peripheralType","func":"flow.set(\"peripheralType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":770,"y":260,"wires":[]},{"id":"f73a211e.7b30e","type":"function","z":"24d9d806.fa68c8","name":"show form group","func":"let peripheralTypes = flow.get(\"peripheralTypes\");\nhideGroups = peripheralTypes\n  .filter((peripheralType) => peripheralType.value != msg.payload)\n  .map((peripheralType) => \"AddPeripheral_\".concat(peripheralType.value));\nshowGroup = \"AddPeripheral_\".concat(msg.payload);\n\nreturn { payload: { group: { show: showGroup, hide: hideGroups } } };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":300,"wires":[["de643651.112ec","45858b9e.d59da4"]]},{"id":"de643651.112ec","type":"ui_ui_control","z":"24d9d806.fa68c8","name":"","events":"all","x":960,"y":260,"wires":[[]]},{"id":"967a889b.abada","type":"function","z":"24d9d806.fa68c8","name":"set peripheralTypes","func":"flow.set(\"peripheralTypes\", msg.payload.peripheralComponentEnums.peripheralTypes);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["a2e8af2d.b8f608"]]},{"id":"5e71de73.53545","type":"function","z":"24d9d806.fa68c8","name":"hide form groups","func":"let peripheralFormGroups = msg.payload.peripheralComponentEnums.peripheralTypes.map(\n    (peripheralType) => \"AddPeripheral_\".concat(peripheralType.value)\n);\nreturn {payload: {group: {hide: peripheralFormGroups}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":220,"wires":[["b9dd2df7.cb5828"]]},{"id":"b9dd2df7.cb5828","type":"ui_ui_control","z":"24d9d806.fa68c8","name":"","events":"all","x":1040,"y":220,"wires":[[]]},{"id":"b356f87d.8a1718","type":"debug","z":"24d9d806.fa68c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"e6371f0c.af328","type":"function","z":"24d9d806.fa68c8","name":"set dataPointTypes","func":"let dataPointTypes = [];\ntry {\n  dataPointTypes = msg.payload.allDataPointTypes.edges\n    .map((edge) => edge.node)\n    .sort((dptA, dptB) => dptA.name.localeCompare(dptB.name));\n} catch (err) {\n  dataPointTypes = [{ name: \"None\", unit: \"N/A\", id: \"\" }];\n}\nflow.set(\"dataPointTypes\", dataPointTypes);\nreturn { payload: dataPointTypes };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":360,"wires":[[]]},{"id":"736a1894.66afc","type":"graphql","z":"24d9d806.fa68c8","name":"add peripheral","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"mutation createPeripheralComponent($input: CreatePeripheralComponentInput!) {\n  createPeripheralComponent(input: $input) {\n    peripheralComponent {\n      id\n      siteEntity {\n        id\n        name\n      }\n      controllerComponent {\n        id\n      }\n      peripheralType\n      state\n      parameters\n    }\n  }\n}\n","x":1940,"y":1020,"wires":[["dea82f65.347d38"],["dea82f65.347d38"]]},{"id":"23ebbb79.3d3c4c","type":"ui_toast","z":"24d9d806.fa68c8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2280,"y":1020,"wires":[]},{"id":"dea82f65.347d38","type":"function","z":"24d9d806.fa68c8","name":"to notification","func":"if(msg.payload.error){\n    return {payload: msg.payload.error};\n}\ntry {\n    return {\n        payload: `Adding ${msg.payload.createPeripheralComponent.peripheralComponent.siteEntity.name} peripheral`\n    };\n} catch(error) {\n    return {payload: \"Unable to create peripheral\"};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":1020,"wires":[["23ebbb79.3d3c4c"]]},{"id":"ff44d5ef.60fe","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Digital In DPT","label":"","tooltip":"","place":"Select on/off type","group":"e3cac5fb.306ab8","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":340,"wires":[["6be2c77f.449b48"]]},{"id":"6be2c77f.449b48","type":"function","z":"24d9d806.fa68c8","name":"set digitalInDataPointTypeGID","func":"flow.set(\"digitalInDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1450,"y":340,"wires":[]},{"id":"542d98d0.bb048","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":340,"wires":[["ff44d5ef.60fe"]]},{"id":"a32fa2a0.d73ba","type":"ui_form","z":"24d9d806.fa68c8","name":"Parameters","label":"","group":"e3cac5fb.306ab8","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":420,"wires":[["f797e6c0.b4a8c"]]},{"id":"f797e6c0.b4a8c","type":"function","z":"24d9d806.fa68c8","name":"add digital in peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n  input_type: flow.get(\"digitalInInputType\")\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet digitalInDataPointTypeGID = flow.get(\"digitalInDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"DigitalIn\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: digitalInDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":420,"wires":[["736a1894.66afc"]]},{"id":"fea13523.c53a38","type":"comment","z":"24d9d806.fa68c8","name":"Additional peripheral types can be added here...","info":"","x":1160,"y":1380,"wires":[]},{"id":"a2e8af2d.b8f608","type":"function","z":"24d9d806.fa68c8","name":"set controllerComponentGID","func":"try {\n    flow.set(\"controllerComponentGID\", msg.payload.siteEntity.controllerComponent.id);\n} catch(err) {\n    flow.set(\"controllerComponentGID\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["5e71de73.53545"]]},{"id":"575d38a5.66fe4","type":"function","z":"54dd85d1.d273cc","name":"set siteGID","func":"flow.set(\"siteGID\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":160,"wires":[[]]},{"id":"b05230e.a0dfc5","type":"function","z":"24d9d806.fa68c8","name":"set siteGID","func":"try {\n    flow.set(\"siteGID\", msg.payload.siteGID);\n} catch(err) {\n    flow.set(\"siteGID\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":260,"wires":[[]]},{"id":"668d20f1.5c5d6","type":"ui_dropdown","z":"54dd85d1.d273cc","name":"data point types","label":"","tooltip":"","place":"Select data point type","group":"3ef7fa08.4f5096","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":2360,"y":140,"wires":[["442c9a92.a8691c","924b510a.e9bc5","9576f666.110ec"]]},{"id":"e4ba9395.caa108","type":"graphql","z":"54dd85d1.d273cc","name":"data points","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"query {\n  allDataPoints(peripheralComponent_SiteEntity: \"{{siteEntity}}\", dataPointType: \"{{dataPointType}}\", last: 100){\n    edges{\n      node{\n        time\n        value\n      }\n    }\n  }\n}","x":2730,"y":140,"wires":[["9c669145.24181"],["9c669145.24181"]],"icon":"font-awesome/fa-search"},{"id":"d593e4a0.609fc","type":"graphql","z":"54dd85d1.d273cc","name":"data point types","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"{\n  allDataPointTypes(peripheralComponentSet_SiteEntity: \"{{payload}}\"){\n    edges{\n      node{\n        id\n        name\n        unit\n      }\n    }\n  }\n  siteEntity(id: \"{{payload}}\") {\n    name\n    peripheralComponent {\n      peripheralType\n      state\n      otherParameters\n      createdAt\n      modifiedAt\n    }    \n  }\n}","x":1880,"y":140,"wires":[["39a330d1.677a8","c054b798.e7c068","6fd73feb.af931"],["39a330d1.677a8"]],"icon":"font-awesome/fa-search"},{"id":"39a330d1.677a8","type":"function","z":"54dd85d1.d273cc","name":"to dropdown","func":"let controller_msg = {};\ntry {\n  let options = msg.payload.allDataPointTypes.edges.map((edge) => ({\n    [`${edge.node.name} in ${edge.node.unit}`]: edge.node.id,\n  }));\n  controller_msg[\"options\"] = options;\n} catch (error) {\n  controller_msg[\"options\"] = \"Request failed\";\n}\n\nreturn controller_msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":140,"wires":[["668d20f1.5c5d6","973f201f.02688"]],"outputLabels":["controller SE"]},{"id":"7689255f.d8e94c","type":"function","z":"54dd85d1.d273cc","name":"show","func":"return {payload: {group: {show: [\"Home_PeripheralData\"]}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":260,"wires":[["aa3c2194.45cd78"]]},{"id":"aa3c2194.45cd78","type":"ui_ui_control","z":"54dd85d1.d273cc","name":"","events":"all","x":1980,"y":260,"wires":[[]]},{"id":"e59a27a5.78cf3","type":"ui_text","z":"ca7d773a.8634b","group":"4f6a5e91.7d2068","order":3,"width":0,"height":0,"name":"","label":"Use poll sensor or set value","format":"","layout":"row-spread","x":320,"y":320,"wires":[]},{"id":"442c9a92.a8691c","type":"function","z":"54dd85d1.d273cc","name":"get data points","func":"return {\n  siteEntity: flow.get(\"SEPeripheralGID\"),\n  dataPointType: msg.payload,\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":140,"wires":[["e4ba9395.caa108"]]},{"id":"b2ea9cb1.1ce718","type":"function","z":"54dd85d1.d273cc","name":"set SEPeripheralGID","func":"flow.set(\"SEPeripheralGID\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1900,"y":200,"wires":[]},{"id":"9c669145.24181","type":"function","z":"54dd85d1.d273cc","name":"to chart","func":"let dataPointType = flow.get(\"dataPointType\");\nlet dataPoints = msg.payload.allDataPoints.edges.map((edge) =>\n    ({x: edge.node.time, y: edge.node.value})\n);\nif(dataPoints.length > 0) {\n    msg = {\n        payload: [{\n            series: [dataPointType.id],\n            data: [\n                dataPoints\n            ],\n            labels: [\"\"]\n        }],\n        label: \"Data Points\"\n    };\n} else {\n    msg = {\n        payload: [],\n        label: \"No Data\"\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2900,"y":140,"wires":[["e158a247.1b36a8"]]},{"id":"924b510a.e9bc5","type":"function","z":"54dd85d1.d273cc","name":"set dataPointType","func":"let dataPointTypes = flow.get(\"dataPointTypes\");\nflow.set(\"dataPointType\", dataPointTypes.find((dataPointType) => dataPointType.id === msg.payload));","outputs":0,"noerr":0,"initialize":"","finalize":"","x":2570,"y":100,"wires":[]},{"id":"9576f666.110ec","type":"function","z":"54dd85d1.d273cc","name":"clear graph","func":"return { payload: [], label: \"No Data\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2550,"y":200,"wires":[["e158a247.1b36a8"]]},{"id":"973f201f.02688","type":"delay","z":"54dd85d1.d273cc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2295,"y":200,"wires":[["9576f666.110ec"]],"l":false},{"id":"c054b798.e7c068","type":"function","z":"54dd85d1.d273cc","name":"set dataPointTypes","func":"try {\n  flow.set(\"dataPointTypes\", msg.payload.allDataPointTypes.edges.map((edge) => edge.node));\n} catch (error) {\n  flow.set(\"dataPointTypes\", [])\n}","outputs":0,"noerr":0,"initialize":"","finalize":"","x":2190,"y":100,"wires":[]},{"id":"1b40e48e.320d2b","type":"ui_button","z":"54dd85d1.d273cc","name":"Retry","group":"924b0af8.f21a48","order":4,"width":"3","height":"1","passthru":false,"label":"Reconnect","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":160,"wires":[["17d6fbc3.dced6c"]]},{"id":"1d3703bb.668954","type":"ui_text","z":"54dd85d1.d273cc","group":"924b0af8.f21a48","order":2,"width":"3","height":"1","name":"Server code link","label":"<a href=\"https://github.com/protohaus/sdg-server/tree/update-farm-app\" target=”_blank\">Server Code</a>","format":"","layout":"row-spread","x":240,"y":260,"wires":[]},{"id":"3d243094.029d","type":"ui_text","z":"54dd85d1.d273cc","group":"924b0af8.f21a48","order":3,"width":"3","height":"1","name":"Controller code link","label":"<a href=\"https://github.com/protohaus/sdg-controller/tree/Unstable\" target=”_blank\">Controller Code</a>","format":"","layout":"row-spread","x":250,"y":300,"wires":[]},{"id":"bd6d2422.57a2e8","type":"ui_text","z":"54dd85d1.d273cc","group":"924b0af8.f21a48","order":3,"width":"3","height":"1","name":"Contact link","label":"<a href=\"mailto:moritz.ulmer@posteo.de\">Contact</a>","format":"","layout":"row-spread","x":230,"y":340,"wires":[]},{"id":"b9d8d19e.1f5548","type":"comment","z":"24d9d806.fa68c8","name":"Add DigitalIn peripheral","info":"","x":1080,"y":300,"wires":[]},{"id":"e4b0ad0.6e1905","type":"comment","z":"24d9d806.fa68c8","name":"Add I2C adapter","info":"","x":1060,"y":1020,"wires":[]},{"id":"7f73823b.e4e2ec","type":"ui_form","z":"24d9d806.fa68c8","name":"Parameters","label":"","group":"580002fb.157eec","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"SCL pin #","value":"scl","type":"number","required":true,"rows":null},{"label":"SDA pin #","value":"sda","type":"number","required":true,"rows":null}],"formValue":{"name":"","scl":"","sda":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1050,"y":1060,"wires":[["cf54069.406dcf8"]]},{"id":"cf54069.406dcf8","type":"function","z":"24d9d806.fa68c8","name":"add I2C adapter","func":"let otherParameters = {\n  scl: msg.payload.scl,\n  sda: msg.payload.sda\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet LEDDataPointTypeGID = flow.get(\"LEDDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"I2CAdapter\",\n      otherParameters: JSON.stringify(otherParameters),\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1060,"wires":[["736a1894.66afc"]]},{"id":"6e4bc09f.248fa8","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Temperature DPT","label":"temperature","tooltip":"","place":"Select type","group":"66bd22df.64129c","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1230,"y":1140,"wires":[["861f0659.0a05d8"]]},{"id":"861f0659.0a05d8","type":"function","z":"24d9d806.fa68c8","name":"set temperature","func":"flow.set(\"BME280TemperatureDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1140,"wires":[]},{"id":"e9a61ef5.8284a8","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1140,"wires":[["6e4bc09f.248fa8"]]},{"id":"89e90e4e.5703","type":"comment","z":"24d9d806.fa68c8","name":"Add BME/P280 peripheral","info":"","x":1090,"y":1100,"wires":[]},{"id":"18175709.14ab11","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Humidity DPT","label":"humidity","tooltip":"","place":"Select type","group":"66bd22df.64129c","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":1220,"wires":[["5a536eaa.b60fc8"]]},{"id":"5a536eaa.b60fc8","type":"function","z":"24d9d806.fa68c8","name":"set humidity","func":"flow.set(\"BME280HumidityDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1220,"wires":[]},{"id":"e9670cc8.b62d88","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\n\n// As the BMP280 has no humidity sensor, but the BME280 does, add this option\noptions.unshift({\"Nicht zutreffend (BMP280)\": null});\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1220,"wires":[["18175709.14ab11"]]},{"id":"e5bdbb0e.fd016","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Pressure DPT","label":"pressure","tooltip":"","place":"Select type","group":"66bd22df.64129c","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":1180,"wires":[["6035c541.27102c"]]},{"id":"6035c541.27102c","type":"function","z":"24d9d806.fa68c8","name":"set pressure","func":"flow.set(\"BME280PressureDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1180,"wires":[]},{"id":"f94e9c8d.bff788","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1180,"wires":[["e5bdbb0e.fd016"]]},{"id":"fb509bd2.7e18c8","type":"ui_form","z":"24d9d806.fa68c8","name":"Parameters","label":"","group":"66bd22df.64129c","order":5,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"I2C address","value":"I2CAddress","type":"number","required":true,"rows":null}],"formValue":{"name":"","I2CAddress":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1050,"y":1300,"wires":[["cb18976a.a056b"]]},{"id":"cb18976a.a056b","type":"function","z":"24d9d806.fa68c8","name":"add BME280 sensor","func":"let otherParameters = {\n  i2c_adapter: flow.get(\"BME280I2CAdapterUUID\"),\n  i2c_address: msg.payload.I2CAddress\n};\nlet dataPointTypeEdges = [\n    {\n        dataPointType: flow.get(\"BME280TemperatureDataPointTypeGID\"),\n        parameterPrefix: \"temperature\",\n    },\n    {\n        dataPointType: flow.get(\"BME280PressureDataPointTypeGID\"),\n        parameterPrefix: \"pressure\",\n    }\n];\n// Only add humidity data point type for the BME280, BMP280 does not need it\nlet humidityDataPointType = flow.get(\"BME280HumidityDataPointTypeGID\");\nif(humidityDataPointType) {\n  dataPointTypeEdges.push({\n      dataPointType: humidityDataPointType,\n      parameterPrefix: \"humidity\"\n  });\n}\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"BME280\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: dataPointTypeEdges\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":1300,"wires":[["736a1894.66afc"]]},{"id":"78ba7fa5.e7157","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"I2C Adapter","label":"","tooltip":"","place":"Select I2C adapter","group":"66bd22df.64129c","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1570,"y":1260,"wires":[["eced4c40.a66508"]]},{"id":"eced4c40.a66508","type":"function","z":"24d9d806.fa68c8","name":"set I2C adapter","func":"let i2cAdapterGID = new Buffer.from(msg.payload, 'base64').toString();\nflow.set(\"BME280I2CAdapterUUID\", i2cAdapterGID.split(\":\")[1])","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1260,"wires":[]},{"id":"684434d3.52bcb4","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"let options = msg.payload.allPeripheralComponents.edges.map((i2cAdapter) => ({\n  [`${i2cAdapter.node.siteEntity.name} (${i2cAdapter.node.state})`]: i2cAdapter.node.siteEntity.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1260,"wires":[["78ba7fa5.e7157"]]},{"id":"26842c91.22a744","type":"graphql","z":"24d9d806.fa68c8","name":"getI2CAdapters","graphql":"f8662d28.32be8","format":"handlebars","syntax":"mustache","template":"query {\n  allPeripheralComponents(controllerComponent: \"{{payload}}\", peripheralType: \"I2CAdapter\") {\n    edges{\n      node{\n        siteEntity{\n          id\n          name\n        }\n        state\n      }\n    }\n  }\n}","x":1240,"y":1260,"wires":[["684434d3.52bcb4"],["684434d3.52bcb4"]]},{"id":"1405b8a3.7eb35f","type":"function","z":"24d9d806.fa68c8","name":"get I2C adapters","func":"return { payload: flow.get(\"controllerComponentGID\") };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1260,"wires":[["26842c91.22a744"]]},{"id":"45858b9e.d59da4","type":"delay","z":"24d9d806.fa68c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":915,"y":300,"wires":[["542d98d0.bb048","e9a61ef5.8284a8","e9670cc8.b62d88","f94e9c8d.bff788","1405b8a3.7eb35f","6826b2b1.be5bb4","722f4b62.033a14","8ef68e9b.d43a7","dc73c157.42f368","46014918.8afbd","99a0c78e.c30638"]],"l":false},{"id":"615f8759.4ff61","type":"ui_text","z":"24d9d806.fa68c8","group":"66bd22df.64129c","order":5,"width":0,"height":0,"name":"I2C addresses","label":"I2C address is 119 (0x77) or 118 (0x76)","format":"","layout":"row-left","x":1060,"y":1340,"wires":[]},{"id":"cd969c2d.2fa0b","type":"ui_text","z":"54dd85d1.d273cc","group":"3ef7fa08.4f5096","order":5,"width":0,"height":0,"name":"","label":"Type","format":"{{msg.payload.type}}","layout":"row-spread","x":2290,"y":280,"wires":[]},{"id":"2a4df320.c45fb4","type":"ui_text","z":"54dd85d1.d273cc","group":"3ef7fa08.4f5096","order":5,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":2290,"y":240,"wires":[]},{"id":"477c3869.55dc08","type":"ui_text","z":"54dd85d1.d273cc","group":"3ef7fa08.4f5096","order":5,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload.state}}","layout":"row-spread","x":2290,"y":320,"wires":[]},{"id":"90a95cd8.8d14f","type":"ui_text","z":"54dd85d1.d273cc","group":"3ef7fa08.4f5096","order":5,"width":0,"height":0,"name":"","label":"Created at","format":"{{msg.payload.createdAt}}","layout":"row-spread","x":2490,"y":400,"wires":[]},{"id":"951a41af.1ba12","type":"ui_text","z":"54dd85d1.d273cc","group":"3ef7fa08.4f5096","order":5,"width":0,"height":0,"name":"","label":"Modified at","format":"{{msg.payload.modifiedAt}}","layout":"row-spread","x":2490,"y":440,"wires":[]},{"id":"6fd73feb.af931","type":"function","z":"54dd85d1.d273cc","name":"to text","func":"let controller_msg = {};\nlet options = msg.payload.allDataPointTypes.edges.map((edge) => ({\n[`${edge.node.name} in ${edge.node.unit}`]: edge.node.id,\n}));\n\nreturn {\n    payload: {\n        name: msg.payload.siteEntity.name,\n        type: msg.payload.siteEntity.peripheralComponent.peripheralType,\n        state: msg.payload.siteEntity.peripheralComponent.state,\n        otherParameters: msg.payload.siteEntity.peripheralComponent.otherParameters,\n        createdAt: msg.payload.siteEntity.peripheralComponent.createdAt,\n        modifiedAt: msg.payload.siteEntity.peripheralComponent.modifiedAt\n    }\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2150,"y":240,"wires":[["2a4df320.c45fb4","cd969c2d.2fa0b","477c3869.55dc08","e3bb5c39.76621","6633e3f3.cd1d8c","5583ebf0.322bb4"]],"outputLabels":["controller SE"]},{"id":"e3bb5c39.76621","type":"moment","z":"54dd85d1.d273cc","name":"Format date","topic":"","input":"payload.createdAt","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm D/MM/YY","locale":"de-DE","output":"payload.createdAt","outputType":"msg","outTz":"Europe/Berlin","x":2310,"y":400,"wires":[["90a95cd8.8d14f"]]},{"id":"6633e3f3.cd1d8c","type":"moment","z":"54dd85d1.d273cc","name":"Format date","topic":"","input":"payload.modifiedAt","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm D/MM/YY","locale":"de-DE","output":"payload.modifiedAt","outputType":"msg","outTz":"Europe/Berlin","x":2310,"y":440,"wires":[["951a41af.1ba12"]]},{"id":"55663d37.694b5c","type":"ui_text","z":"54dd85d1.d273cc","group":"a5caa058.940f38","order":2,"width":0,"height":0,"name":"Sample data","label":"Sample data in Demo BME280 - A","format":"","layout":"row-spread","x":1670,"y":480,"wires":[]},{"id":"e4162e30.36743","type":"ui_ui_control","z":"ca7d773a.8634b","name":"","events":"all","x":1000,"y":220,"wires":[[]]},{"id":"2a845a23.69372e","type":"comment","z":"ca7d773a.8634b","name":"Set value task","info":"","x":1070,"y":260,"wires":[]},{"id":"5ad3028c.c3a524","type":"comment","z":"ca7d773a.8634b","name":"Poll sensor task","info":"","x":1080,"y":400,"wires":[]},{"id":"47760734.534cf","type":"delay","z":"ca7d773a.8634b","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":955,"y":260,"wires":[["4701a204.0fc814"]],"l":false},{"id":"34511d4f.44bae2","type":"function","z":"ca7d773a.8634b","name":"set dataPointTypes","func":"let dataPointTypes = [];\ntry {\n  dataPointTypes = msg.payload.siteEntity.peripheralComponent.dataPointTypeSet.edges.map(\n    (edge) => edge.node\n  );\n} catch (err) {\n  dataPointTypes = [{ name: \"None\", unit: \"N/A\", id: \"\" }];\n}\nflow.set(\"dataPointTypes\", dataPointTypes);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":180,"wires":[["942b287c.733de8"]]},{"id":"c5e29d31.e6fb38","type":"function","z":"54dd85d1.d273cc","name":"set controllerName","func":"flow.set(\"controllerName\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1690,"y":120,"wires":[]},{"id":"3a1b5873.125458","type":"ui_text","z":"ca7d773a.8634b","group":"4f6a5e91.7d2068","order":1,"width":0,"height":0,"name":"","label":"Controller:","format":"{{msg.payload.controllerName}}","layout":"row-spread","x":270,"y":180,"wires":[]},{"id":"cb812529.6b1858","type":"ui_dropdown","z":"ca7d773a.8634b","name":"","label":"","tooltip":"","place":"Select option","group":"4d93db6b.ac3a8c","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":300,"wires":[["96e85471.3d766"]]},{"id":"4701a204.0fc814","type":"function","z":"ca7d773a.8634b","name":"to dropdown","func":"let options = flow.get(\"dataPointTypes\").map(\n  (dataPointType) => ({[`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id})\n);\n\nlet firstValue = Object.values(options[0])[0];\nreturn { options: options, payload: firstValue };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":300,"wires":[["cb812529.6b1858"]]},{"id":"96e85471.3d766","type":"function","z":"ca7d773a.8634b","name":"set setValueDataPointTypeGID","func":"flow.set(\"setValueDataPointTypeGID\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":300,"wires":[[]]},{"id":"3ac9ab15.5e492c","type":"function","z":"ca7d773a.8634b","name":"start task","func":"var moment = global.get(\"moment\");\n\nparameters = {};\n// Set the peripheral UUID\nconst peripheralGID = new Buffer(\n  flow.get(\"peripheral\").peripheralGID,\n  \"base64\"\n);\nparameters[\"peripheral\"] = peripheralGID.toString().split(\":\")[1];\n// Set the interval\nparameters[\"interval_ms\"] = msg.payload.interval_s * 1000;\n\n// Get all relevant variables\nlet variables = {\n  input: {\n    controllerComponent: flow.get(\"controllerComponentGID\"),\n    taskType: flow.get(\"taskType\"),\n    parameters: JSON.stringify(parameters),\n  },\n};\n// If a timeout is specified, add the run_until datetime\nif (msg.payload.duration_s) {\n  variables.input.runUntil = moment().add(msg.payload.duration_s, \"s\").format();\n}\n\nreturn {variables: variables};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":440,"wires":[["71f3d646.2c995"]]},{"id":"dd4f2880.0c1888","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Digital In input type","label":"","tooltip":"","place":"Select input type","group":"e3cac5fb.306ab8","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Floating (default)","value":"floating","type":"str"},{"label":"Pullup","value":"pullup","type":"str"},{"label":"Pulldown","value":"pulldown","type":"str"}],"payload":"","topic":"","x":1070,"y":380,"wires":[["551b9b6a.a75b34"]]},{"id":"551b9b6a.a75b34","type":"function","z":"24d9d806.fa68c8","name":"set digitalInInputType","func":"flow.set(\"digitalInInputType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1280,"y":380,"wires":[]},{"id":"b72a622e.18fce8","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Digital Out DPT","label":"","tooltip":"","place":"Select on/off type","group":"6071112b.ceebc8","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":500,"wires":[["b847565.952dca8"]]},{"id":"b847565.952dca8","type":"function","z":"24d9d806.fa68c8","name":"set digitalOutDataPointTypeGID","func":"flow.set(\"digitalOutDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1450,"y":500,"wires":[]},{"id":"6826b2b1.be5bb4","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":500,"wires":[["b72a622e.18fce8"]]},{"id":"bd8f851.195d4f8","type":"ui_form","z":"24d9d806.fa68c8","name":"Parameters","label":"","group":"6071112b.ceebc8","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":540,"wires":[["77739c77.5d860c"]]},{"id":"3b827aca.f28076","type":"comment","z":"24d9d806.fa68c8","name":"Add DigitalOut peripheral","info":"","x":1090,"y":460,"wires":[]},{"id":"77739c77.5d860c","type":"function","z":"24d9d806.fa68c8","name":"add digital out peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet digitalOutDataPointTypeGID = flow.get(\"digitalOutDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"DigitalOut\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: digitalOutDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":540,"wires":[["736a1894.66afc"]]},{"id":"c58f72eb.7f446","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Analog In Percent DPT","label":"","tooltip":"","place":"Select percent type","group":"49e93028.bad278","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1240,"y":620,"wires":[["9152bd6b.761678"]]},{"id":"9152bd6b.761678","type":"function","z":"24d9d806.fa68c8","name":"set analogInPercentDataPointTypeGID","func":"flow.set(\"analogInPercentDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1510,"y":620,"wires":[]},{"id":"722f4b62.033a14","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nflow.set(\"analogInPercentDataPointTypeGID\", undefined);\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["c58f72eb.7f446"]]},{"id":"89ee3a7d.7fa748","type":"ui_form","z":"24d9d806.fa68c8","name":"Parameters","label":"","group":"49e93028.bad278","order":5,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":700,"wires":[["c8b558ae.a8e158"]]},{"id":"91b8f51a.c55dc","type":"comment","z":"24d9d806.fa68c8","name":"Add AnalogIn peripheral","info":"","x":1080,"y":580,"wires":[]},{"id":"c8b558ae.a8e158","type":"function","z":"24d9d806.fa68c8","name":"add analog in peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet analogInPercentDataPointTypeGID = flow.get(\n  \"analogInPercentDataPointTypeGID\"\n);\nlet analogInVoltageDataPointTypeGID = flow.get(\n  \"analogInVoltageDataPointTypeGID\"\n);\n\nif (!analogInPercentDataPointTypeGID && !analogInVoltageDataPointTypeGID) {\n  node.error(\"No data point type selected\", msg);\n  return;\n}\ndataPointTypeEdges = [];\nif (analogInPercentDataPointTypeGID) {\n  dataPointTypeEdges.push({\n    dataPointType: analogInPercentDataPointTypeGID,\n    parameterPrefix: \"percent\",\n  });\n}\nif (analogInVoltageDataPointTypeGID) {\n  dataPointTypeEdges.push({\n    dataPointType: analogInVoltageDataPointTypeGID,\n    parameterPrefix: \"voltage\",\n  });\n}\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"AnalogIn\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: dataPointTypeEdges,\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":700,"wires":[["736a1894.66afc"]]},{"id":"1df7681e.2b7618","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Analog Out Percent DPT","label":"","tooltip":"","place":"Select percent type","group":"103cbdaa.700e92","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1250,"y":780,"wires":[["bbbe974f.d7f768"]]},{"id":"bbbe974f.d7f768","type":"function","z":"24d9d806.fa68c8","name":"set analogOutPercentDataPointTypeGID","func":"flow.set(\"analogOutPercentDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1540,"y":780,"wires":[]},{"id":"8ef68e9b.d43a7","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":780,"wires":[["1df7681e.2b7618"]]},{"id":"6d42208c.07aca","type":"ui_form","z":"24d9d806.fa68c8","name":"Parameters","label":"","group":"103cbdaa.700e92","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":860,"wires":[["87c79d5d.f77d68"]]},{"id":"6e6ee112.45b5c8","type":"comment","z":"24d9d806.fa68c8","name":"Add AnalogOut peripheral","info":"","x":1090,"y":740,"wires":[]},{"id":"87c79d5d.f77d68","type":"function","z":"24d9d806.fa68c8","name":"add analog out peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet analogOutPercentDataPointTypeGID = flow.get(\"analogOutPercentDataPointTypeGID\");\nlet analogOutVoltageDataPointTypeGID = flow.get(\"analogOutVoltageDataPointTypeGID\");\n\nlet dataPointTypeEdges = []\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"AnalogOut\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: analogOutDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":860,"wires":[["736a1894.66afc"]]},{"id":"a1280cf9.939dc","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"PWM DPT","label":"","tooltip":"","place":"Select PWM type","group":"d1eafb2a.47bad","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1210,"y":940,"wires":[["c736e4a9.2756c"]]},{"id":"c736e4a9.2756c","type":"function","z":"24d9d806.fa68c8","name":"set PWMDataPointTypeGID","func":"flow.set(\"PWMDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1440,"y":940,"wires":[]},{"id":"99a0c78e.c30638","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":940,"wires":[["a1280cf9.939dc"]]},{"id":"7e6c724a.7a872c","type":"ui_form","z":"24d9d806.fa68c8","name":"Parameters","label":"","group":"d1eafb2a.47bad","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":980,"wires":[["b84908ec.e379f"]]},{"id":"1d6f3164.89c70f","type":"comment","z":"24d9d806.fa68c8","name":"Add PWM peripheral","info":"","x":1070,"y":900,"wires":[]},{"id":"b84908ec.e379f","type":"function","z":"24d9d806.fa68c8","name":"add PWM peripheral","func":"// Other parameters have to use snake case\nlet otherParameters = {\n  pin: msg.payload.pin,\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet PWMDataPointTypeGID = flow.get(\"PWMDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"PWM\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: PWMDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":980,"wires":[["736a1894.66afc"]]},{"id":"e73d29a8.6bf1d8","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Analog In Voltage DPT","label":"","tooltip":"","place":"Select voltage type","group":"49e93028.bad278","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1240,"y":660,"wires":[["a7183357.6b53d8"]]},{"id":"a7183357.6b53d8","type":"function","z":"24d9d806.fa68c8","name":"set analogInVoltageDataPointTypeGID","func":"flow.set(\"analogInVoltageDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1510,"y":660,"wires":[]},{"id":"dc73c157.42f368","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nflow.set(\"analogInVoltageDataPointTypeGID\", undefined);\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":660,"wires":[["e73d29a8.6bf1d8"]]},{"id":"bfac2a0a.ef0eb8","type":"ui_text","z":"24d9d806.fa68c8","group":"49e93028.bad278","order":1,"width":"3","height":"1","name":"","label":"Select one or both types","format":"","layout":"row-spread","x":810,"y":620,"wires":[]},{"id":"b6e4650d.e46dc8","type":"ui_button","z":"24d9d806.fa68c8","name":"","group":"49e93028.bad278","order":2,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":660,"wires":[["722f4b62.033a14","dc73c157.42f368"]]},{"id":"25dfcf0.62d4632","type":"ui_dropdown","z":"24d9d806.fa68c8","name":"Analog Out Voltage DPT","label":"","tooltip":"","place":"Select voltage type","group":"103cbdaa.700e92","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1250,"y":820,"wires":[["c2766e37.62e46"]]},{"id":"c2766e37.62e46","type":"function","z":"24d9d806.fa68c8","name":"set analogOutVoltageDataPointTypeGID","func":"flow.set(\"analogOutVoltageDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1540,"y":820,"wires":[]},{"id":"46014918.8afbd","type":"function","z":"24d9d806.fa68c8","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":820,"wires":[["25dfcf0.62d4632"]]},{"id":"67062c5a.18b6bc","type":"ui_text","z":"24d9d806.fa68c8","group":"103cbdaa.700e92","order":1,"width":"3","height":"1","name":"","label":"Select one type","format":"","layout":"row-spread","x":840,"y":780,"wires":[]},{"id":"934038d5.0ae738","type":"ui_button","z":"24d9d806.fa68c8","name":"","group":"103cbdaa.700e92","order":2,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":870,"y":820,"wires":[["46014918.8afbd","8ef68e9b.d43a7"]]},{"id":"5583ebf0.322bb4","type":"ui_text","z":"54dd85d1.d273cc","group":"3ef7fa08.4f5096","order":5,"width":0,"height":0,"name":"","label":"Other parameters","format":"{{msg.payload.otherParameters}}","layout":"row-spread","x":2330,"y":360,"wires":[]}]