node-red-demo/flows.json
[{"id":"4baa5843.529ff","type":"tab","label":"Home","disabled":false,"info":""},{"id":"152661ab.2d7736","type":"tab","label":"Start Task","disabled":false,"info":""},{"id":"ae66e9d2.ba8938","type":"tab","label":"Add Peripheral","disabled":false,"info":""},{"id":"48ee54f0.54cf84","type":"graphql-server","z":"","endpoint":"http://10.42.0.231:8000/graphql/","name":"SDG Server Dev"},{"id":"24185f10.5ecdf","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ca641817.903ed8","type":"ui_group","z":"","name":"Sites","tab":"24185f10.5ecdf","order":1,"disp":true,"width":"6","collapse":false},{"id":"37f546f4.7f0a92","type":"ui_group","z":"","name":"Controllers","tab":"24185f10.5ecdf","order":2,"disp":true,"width":"6","collapse":false},{"id":"9b8b274a.75cf4","type":"ui_group","z":"","name":"ControllerDetails","tab":"24185f10.5ecdf","order":3,"disp":true,"width":"6","collapse":false},{"id":"9d71466f.313f3","type":"ui_group","z":"","name":"PeripheralData","tab":"24185f10.5ecdf","order":4,"disp":true,"width":"6","collapse":false},{"id":"b9f493e5.488f2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5cc7c6c7.f0ffd","type":"ui_tab","z":"","name":"StartTask","icon":"dashboard","disabled":false,"hidden":false},{"id":"c29af700.f62908","type":"ui_group","z":"","name":"SelectTask","tab":"5cc7c6c7.f0ffd","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f444a9a.28316e","type":"ui_group","z":"","name":"PollSensor","tab":"5cc7c6c7.f0ffd","order":2,"disp":true,"width":"6","collapse":false},{"id":"9e5a4a5c.82ca8","type":"ui_group","z":"","name":"WriteActuator","tab":"5cc7c6c7.f0ffd","order":3,"disp":true,"width":"6","collapse":false},{"id":"db6dfe77.68f3f8","type":"ui_tab","z":"","name":"AddPeripheral","icon":"dashboard","disabled":false,"hidden":false},{"id":"ca86f527.4c95a8","type":"ui_group","z":"","name":"SelectPeripheralType","tab":"db6dfe77.68f3f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b298161.8516ce8","type":"ui_group","z":"","name":"LED","tab":"db6dfe77.68f3f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d769c858.dbb7a8","type":"ui_group","z":"","name":"I2CAdapter","tab":"db6dfe77.68f3f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ece676ad.831698","type":"ui_group","z":"","name":"BME280","tab":"db6dfe77.68f3f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"9d99540a.8c86c","type":"function","z":"4baa5843.529ff","name":"to dropdown","func":"try {\n  if (msg.payload.allSites.edges.length > 0) {\n    msg = {\n      options: msg.payload.allSites.edges.map((edge) => ({\n        [edge.node.name]: edge.node.id,\n      })),\n    };\n  } else {\n    let empty_result = \"No sites found\";\n    msg = {\n      options: [empty_result],\n      payload: empty_result,\n    };\n  }\n} catch (error) {\n  let error_msg = \"Error requesting sites\";\n  msg = {\n    options: [error_msg],\n    payload: error_msg,\n  };\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["f194047a.6aa768"]]},{"id":"50bf75d3.985f6c","type":"function","z":"4baa5843.529ff","name":"to dropdown","func":"try {\n  if (msg.payload.allSiteEntities.edges.length > 0) {\n    msg = {\n      options: msg.payload.allSiteEntities.edges.map((edge) => ({\n        [edge.node.name]: edge.node.id,\n      })),\n    };\n  } else {\n    let empty_result = \"No controllers found\";\n    msg = {\n      options: [empty_result],\n      payload: empty_result,\n    };\n  }\n} catch (error) {\n  let error_msg = \"Error requesting controllers\";\n  msg = {\n    options: [error_msg],\n    payload: error_msg,\n  };\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":200,"wires":[["e11c41b9.31789"]],"outputLabels":["controller SE"]},{"id":"af873f54.0ec668","type":"inject","z":"4baa5843.529ff","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":200,"wires":[["263d5fe3.c548b8"]]},{"id":"63cd09f2.c9fc9","type":"function","z":"4baa5843.529ff","name":"hide/show","func":"let have_controllers = false;\ntry{\n    have_controllers = Boolean(\n        msg.payload.allSiteEntities.edges\n    );\n} catch (error) {}\n\n\n\nmsg.payload = {\n    group: {\n        show: [],\n        hide: []\n    }\n};\nif (have_controllers) {\n    msg.payload.group.show.push(\"Home_Controllers\");\n} else {\n    msg.payload.group.hide.push(\"Home_Controllers\");\n}\nmsg.payload.group.hide.push(\"Home_PeripheralData\");\nmsg.payload.group.hide.push(\"Home_ControllerDetails\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":260,"wires":[["6194a4ee.8ad67c"]]},{"id":"7cdc7c17.6a6f94","type":"inject","z":"4baa5843.529ff","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":730,"y":260,"wires":[["63cd09f2.c9fc9"]]},{"id":"5cbbccc2.84241c","type":"function","z":"4baa5843.529ff","name":"to details","func":"let controller_msg = { payload: msg.payload.siteEntity.name };\n\nlet peripherals_msg = {};\ntry {\n  edges =\n    msg.payload.siteEntity.controllerComponent.peripheralComponentSet.edges;\n  if (edges.length > 0) {\n    peripherals_msg.options = edges.map((edge) => ({\n      [edge.node.siteEntity.name]: edge.node.siteEntity.id,\n    }));\n    peripherals_msg.peripherals = peripherals_msg[\"options\"];\n  } else {\n    let empty_results = \"No peripherals found\";\n    peripherals_msg.options = [empty_results];\n    peripherals_msg.payload = empty_results;\n    peripherals_msg.peripherals = [];\n  }\n} catch (error) {\n  let error_msg = \"Error requesting peripherals\";\n  peripherals_msg.options = [error_msg];\n  peripherals_msg.payload = error_msg;\n  peripherals_msg.peripherals = [];\n}\n\nlet start_task_msg = { enabled: false };\n\nreturn [controller_msg, peripherals_msg, start_task_msg];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1500,"y":200,"wires":[["b713da02.f00f08","accc006e.1d1ad"],["b7e903a9.1f8f28","1f9ca95e.afd427"],["55710af6.8a278c"]],"outputLabels":["controller SE","",""]},{"id":"bdfbfcd7.ddf5c8","type":"delay","z":"4baa5843.529ff","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":835,"y":200,"wires":[["50bf75d3.985f6c"]],"l":false},{"id":"1d493a87.2564dd","type":"function","z":"4baa5843.529ff","name":"show","func":"return {payload: {group: {show: [\"Home_ControllerDetails\"], hide: [\"Home_PeripheralData\"]}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1450,"y":420,"wires":[["6910ccb0.0173bc"]]},{"id":"78d1163b.0095d8","type":"delay","z":"4baa5843.529ff","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1415,"y":200,"wires":[["5cbbccc2.84241c"]],"l":false},{"id":"9f268d6b.9bcc58","type":"change","z":"4baa5843.529ff","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":300,"wires":[["55710af6.8a278c"]]},{"id":"8cd0446.5123938","type":"ui_button","z":"4baa5843.529ff","name":"","group":"9b8b274a.75cf4","order":5,"width":0,"height":0,"passthru":false,"label":"Add peripheral","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1680,"y":380,"wires":[["953c846.285a6f8","2f1c620f.96b526"]]},{"id":"55710af6.8a278c","type":"ui_button","z":"4baa5843.529ff","name":"","group":"9b8b274a.75cf4","order":4,"width":0,"height":0,"passthru":false,"label":"Start task","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"startTask","x":1660,"y":300,"wires":[["1f9ca95e.afd427","7329bbe9.fdb1fc"]]},{"id":"f194047a.6aa768","type":"ui_dropdown","z":"4baa5843.529ff","name":"sites","label":"","tooltip":"","place":"Select option","group":"ca641817.903ed8","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":510,"y":200,"wires":[["5a10f9ce.ffcec8","613f298.e99b558"]]},{"id":"e11c41b9.31789","type":"ui_dropdown","z":"4baa5843.529ff","name":"controllers","label":"","tooltip":"","place":"Select controller","group":"37f546f4.7f0a92","order":0,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1090,"y":200,"wires":[["2392f2fd.735cb6","be5ac676.baa8"]]},{"id":"b7e903a9.1f8f28","type":"ui_dropdown","z":"4baa5843.529ff","name":"peripherals","label":"","tooltip":"","place":"Connected Peripherals","group":"9b8b274a.75cf4","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1670,"y":200,"wires":[["9f268d6b.9bcc58","1f9ca95e.afd427","b34c88d2.76f778","91a1ca70.a5c8f","59e12df9.f723f4"]]},{"id":"b713da02.f00f08","type":"ui_text","z":"4baa5843.529ff","group":"9b8b274a.75cf4","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-left","x":1650,"y":160,"wires":[]},{"id":"448d184c.30823","type":"ui_chart","z":"4baa5843.529ff","name":"","group":"9d71466f.313f3","order":0,"width":0,"height":0,"label":"{{msg.label}}","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3050,"y":200,"wires":[[]]},{"id":"6194a4ee.8ad67c","type":"ui_ui_control","z":"4baa5843.529ff","name":"","events":"all","x":1020,"y":260,"wires":[[]]},{"id":"6910ccb0.0173bc","type":"ui_ui_control","z":"4baa5843.529ff","name":"","events":"all","x":1580,"y":420,"wires":[[]]},{"id":"263d5fe3.c548b8","type":"graphql","z":"4baa5843.529ff","name":"all sites","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"plain","template":"{allSites{edges{node{id,name}}}}","x":220,"y":200,"wires":[["9d99540a.8c86c"],["9d99540a.8c86c"]],"icon":"font-awesome/fa-search"},{"id":"5a10f9ce.ffcec8","type":"graphql","z":"4baa5843.529ff","name":"all controller SEs","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"{\n  allSiteEntities(site: \"{{payload}}\", isController: true) {\n    edges{\n      node{\n        id,\n        name,\n        controllerComponent{\n          id\n        }\n      }\n    }\n  }\n}","x":690,"y":200,"wires":[["63cd09f2.c9fc9","bdfbfcd7.ddf5c8"],["bdfbfcd7.ddf5c8"]],"icon":"font-awesome/fa-search"},{"id":"2392f2fd.735cb6","type":"graphql","z":"4baa5843.529ff","name":"controller details","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"{\n  siteEntity(id: \"{{payload}}\") {\n    name,\n    controllerComponent {\n      createdAt,\n      peripheralComponentSet{\n        edges{\n          node{\n            siteEntity{id, name}\n          }\n        }\n      }\n    }\n  }\n}","x":1280,"y":200,"wires":[["1d493a87.2564dd","78d1163b.0095d8"],["78d1163b.0095d8"]],"icon":"font-awesome/fa-search"},{"id":"bce43124.bcaba8","type":"link in","z":"152661ab.2d7736","name":"peripheral","links":["a86b1a8f.a598f"],"x":135,"y":200,"wires":[["e7178dfc.e4e5e8","27b783e8.7ebda4","c2593a5b.19cc5"]]},{"id":"b69d12a7.9d286","type":"ui_dropdown","z":"152661ab.2d7736","name":"","label":"","tooltip":"","place":"Select option","group":"c29af700.f62908","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":620,"y":260,"wires":[["caedfb6a.0a1ce","7395900b.2128c8"]]},{"id":"27b783e8.7ebda4","type":"graphql","z":"152661ab.2d7736","name":"getTaskTypes","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"{\n  controllerTaskEnums{\n    taskTypes {\n      value\n      label\n    }\n   }\n  siteEntity(id: \"{{payload.peripheralGID}}\") {\n    name\n    peripheralComponent{\n      peripheralType\n      state\n      controllerComponent{id}\n      dataPointTypeSet{\n        edges{\n          node{\n            name\n            unit\n            id\n          }\n        }\n      }\n    }\n  }\n}","x":280,"y":260,"wires":[["2bf61a5.7a93866","cb9967b7.e327e8"],[]]},{"id":"2bf61a5.7a93866","type":"function","z":"152661ab.2d7736","name":"to dropdown","func":"let options = msg.payload.controllerTaskEnums.taskTypes.map(\n    (taskType) => ({[taskType.label]: taskType.value})\n);\nreturn {options: options};\n\n\n\nlet values = msg.payload.controllerTaskEnums.taskTypeValues;\nlet labels = msg.payload.controllerTaskEnums.taskTypeLabels;\n\nfor(let i = 0; i < values.length; i++) {\n    let option = {};\n    option[labels[i]] = values[i];\n    options.push(option);\n}\nreturn {\"options\": options};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["b69d12a7.9d286"]]},{"id":"1f9ca95e.afd427","type":"function","z":"4baa5843.529ff","name":"set peripheral","func":"if (msg.peripherals) {\n  // peripherals has the format [{peripheralName: peripheralGID}]\n  context.set(\"peripherals\", msg.peripherals);\n} else if (msg.topic === \"startTask\") {\n  let peripherals = context.get(\"peripherals\");\n  let selectedPeripheral = context.get(\"peripheral\");\n  let peripheral = peripherals.find(\n    (peripheral) => Object.values(peripheral)[0] === selectedPeripheral\n  );\n  msg.payload = {\n      peripheralGID: Object.values(peripheral)[0],\n      peripheralName: Object.keys(peripheral)[0],\n      controllerName: flow.get(\"controllerName\")\n  };\n  return msg;\n} else {\n  // peripheral has the format {peripheralName: peripheralGID}\n  context.set(\"peripheral\", msg.payload);\n  return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":300,"wires":[["a86b1a8f.a598f"]]},{"id":"a86b1a8f.a598f","type":"link out","z":"4baa5843.529ff","name":"","links":["bce43124.bcaba8"],"x":1995,"y":300,"wires":[]},{"id":"e7178dfc.e4e5e8","type":"function","z":"152661ab.2d7736","name":"set peripheral","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nflow.set(\"peripheral\", msg.payload)\n\nreturn {payload: msg.payload.peripheralName};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["a7ce4b12.440d7"]]},{"id":"a7ce4b12.440d7","type":"ui_text","z":"152661ab.2d7736","group":"c29af700.f62908","order":2,"width":0,"height":0,"name":"","label":"Peripheral:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":140,"wires":[]},{"id":"7329bbe9.fdb1fc","type":"function","z":"4baa5843.529ff","name":"goto tab","func":"return {payload: {tab: \"StartTask\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":340,"wires":[["f5146e0d.eae788"]]},{"id":"f5146e0d.eae788","type":"ui_ui_control","z":"4baa5843.529ff","name":"","events":"all","x":2020,"y":360,"wires":[[]]},{"id":"caedfb6a.0a1ce","type":"function","z":"152661ab.2d7736","name":"show form group","func":"let taskTypes = flow.get(\"taskTypes\");\nhideGroups = taskTypes\n  .filter(taskType => taskType.value != msg.payload)\n  .map((taskType) => \"StartTask_\".concat(taskType.value));\nshowGroup = \"StartTask_\".concat(msg.payload);\n\nreturn {payload: {group: {show: showGroup , hide: hideGroups}}};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":260,"wires":[["b3548699.02dc2","99270139.78a24"]]},{"id":"d13b7eec.69ace8","type":"ui_form","z":"152661ab.2d7736","name":"Start write actuator","label":"","group":"9e5a4a5c.82ca8","order":0,"width":0,"height":0,"options":[{"label":"Value","value":"value","type":"number","required":true,"rows":null}],"formValue":{"value":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1090,"y":340,"wires":[["69aa7976.fbf12"]]},{"id":"4fa0c571.59ad3c","type":"ui_form","z":"152661ab.2d7736","name":"Start poll sensor","label":"","group":"3f444a9a.28316e","order":0,"width":0,"height":0,"options":[{"label":"Inverval in s","value":"interval_s","type":"number","required":true,"rows":null},{"label":"Duration in s (forever if 0)","value":"duration_s","type":"number","required":false,"rows":null}],"formValue":{"interval_s":"","duration_s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1080,"y":440,"wires":[["345f4f80.d021e8"]]},{"id":"69aa7976.fbf12","type":"function","z":"152661ab.2d7736","name":"start task","func":"parameters = {};\n// Set the peripheral UUID\nconst peripheralGID = new Buffer(\n  flow.get(\"peripheral\").peripheralGID,\n  \"base64\"\n);\nparameters[\"peripheral\"] = peripheralGID.toString().split(\":\")[1];\n// Set the data point type UUID\nconst dataPointTypeGID = new Buffer.from(\n  flow.get(\"writeActuatorDataPointTypeGID\"),\n  \"base64\"\n).toString();\nparameters[\"data_point_type\"] = dataPointTypeGID.split(\":\")[1];\n// Set the value\nparameters[\"value\"] = msg.payload.value;\n\nreturn {\n  variables: {\n    input: {\n      controllerComponent: flow.get(\"controllerComponentGID\"),\n      taskType: flow.get(\"taskType\"),\n      parameters: JSON.stringify(parameters),\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":340,"wires":[["2e677486.5935dc"]]},{"id":"acb79ad5.244d7","type":"function","z":"152661ab.2d7736","name":"set controllerComponentGID","func":"try {\n    flow.set(\"controllerComponentGID\", msg.payload.siteEntity.peripheralComponent.controllerComponent.id);\n} catch(err) {\n    flow.set(\"controllerComponentGID\", null);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":180,"wires":[["d328c340.fc1dc"]]},{"id":"7395900b.2128c8","type":"function","z":"152661ab.2d7736","name":"set taskType","func":"flow.set(\"taskType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[]},{"id":"2e677486.5935dc","type":"graphql","z":"152661ab.2d7736","name":"start controller task","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"plain","template":"mutation startControllerTask($input: StartControllerTaskInput!) {\n  startControllerTask(input: $input) {\n    controllerTask{\n      id\n      controllerComponent {id}\n      taskType\n      state\n      parameters\n      runUntil\n    }\n  }\n}","x":1650,"y":340,"wires":[["2c903bb5.c7b204"],["2c903bb5.c7b204"]]},{"id":"a86e717.3a34c1","type":"ui_toast","z":"152661ab.2d7736","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2000,"y":340,"wires":[]},{"id":"2c903bb5.c7b204","type":"function","z":"152661ab.2d7736","name":"to notification","func":"if(msg.payload.error){\n    return {payload: msg.payload.error};\n}\ntry {\n    return {\n        payload: `Successfully starting ${msg.payload.startControllerTask.controllerTask.taskType} task`\n    };\n} catch(error) {\n    return {payload: \"Unable to start controller task\"};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":340,"wires":[["a86e717.3a34c1"]]},{"id":"a8963d58.4f54b","type":"link in","z":"ae66e9d2.ba8938","name":"peripheral","links":["215bd75f.b33a5"],"x":35,"y":300,"wires":[["37d7103e.ffccc8","26fbd45.e858b2c","ec04a123.be4e28"]]},{"id":"2f1c620f.96b526","type":"function","z":"4baa5843.529ff","name":"get controller and site","func":"return {\n  payload: {\n    SEControllerGID: flow.get(\"SEControllerGID\"),\n    siteGID: flow.get(\"siteGID\"),\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":420,"wires":[["215bd75f.b33a5"]]},{"id":"215bd75f.b33a5","type":"link out","z":"4baa5843.529ff","name":"","links":["a8963d58.4f54b"],"x":2035,"y":420,"wires":[]},{"id":"953c846.285a6f8","type":"function","z":"4baa5843.529ff","name":"goto tab","func":"return {payload: {tab: \"AddPeripheral\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1860,"y":380,"wires":[["f5146e0d.eae788"]]},{"id":"be5ac676.baa8","type":"function","z":"4baa5843.529ff","name":"set SEControllerGID","func":"flow.set(\"SEControllerGID\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1300,"y":160,"wires":[]},{"id":"37d7103e.ffccc8","type":"debug","z":"ae66e9d2.ba8938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":170,"y":360,"wires":[]},{"id":"26fbd45.e858b2c","type":"graphql","z":"ae66e9d2.ba8938","name":"getPeripheralTypes","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"{\n  peripheralComponentEnums{\n    peripheralTypes {\n      value\n      label\n    }\n  }\n  allDataPointTypes{\n    edges{\n      node{\n        id\n        name\n        unit\n      }\n    }\n  }\n  siteEntity(id: \"{{payload.SEControllerGID}}\") {\n    controllerComponent{\n      id\n    }\n  }\n}","x":190,"y":300,"wires":[["dbded673.3686b8","2f12f93f.ff6506","bc193e65.61f9e","3b54491c.75208e"],[]]},{"id":"3df44c3c.c1af4c","type":"ui_dropdown","z":"ae66e9d2.ba8938","name":"","label":"","tooltip":"","place":"Select option","group":"ca86f527.4c95a8","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":300,"wires":[["e3c1f6b5.d0d968","170ef307.e390a5"]]},{"id":"dbded673.3686b8","type":"function","z":"ae66e9d2.ba8938","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\noptions = msg.payload.peripheralComponentEnums.peripheralTypes.map(\n    (peripheralType) => ({[peripheralType.label]: peripheralType.value})\n);\nreturn {options: options};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":300,"wires":[["3df44c3c.c1af4c"]]},{"id":"37ed68d2.d4ef","type":"ui_button","z":"152661ab.2d7736","name":"back","group":"c29af700.f62908","order":5,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":250,"y":100,"wires":[["ef353b16.26f3c8"]]},{"id":"ef353b16.26f3c8","type":"ui_ui_control","z":"152661ab.2d7736","name":"","events":"all","x":380,"y":100,"wires":[[]]},{"id":"16978ef7.ffdc51","type":"ui_button","z":"ae66e9d2.ba8938","name":"back","group":"ca86f527.4c95a8","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":150,"y":180,"wires":[["6c0cbaf6.cd42cc"]]},{"id":"6c0cbaf6.cd42cc","type":"ui_ui_control","z":"ae66e9d2.ba8938","name":"","events":"all","x":280,"y":180,"wires":[[]]},{"id":"cb9967b7.e327e8","type":"function","z":"152661ab.2d7736","name":"set taskTypes","func":"flow.set(\"taskTypes\", msg.payload.controllerTaskEnums.taskTypes);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["acb79ad5.244d7"]]},{"id":"81bb7954.9c6258","type":"function","z":"152661ab.2d7736","name":"hide form groups","func":"let taskFormGroups = msg.payload.controllerTaskEnums.taskTypes.map(\n    (taskType) => \"StartTask_\".concat(taskType.value)\n);\nreturn {payload: {group: {hide: taskFormGroups}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":180,"wires":[["2bef4ea3.1d76d2"]]},{"id":"2bef4ea3.1d76d2","type":"ui_ui_control","z":"152661ab.2d7736","name":"","events":"all","x":1300,"y":180,"wires":[[]]},{"id":"2f5cb26.f0e3e4e","type":"comment","z":"152661ab.2d7736","name":"Additional task types can be added here...","info":"","x":1160,"y":500,"wires":[]},{"id":"e3c1f6b5.d0d968","type":"function","z":"ae66e9d2.ba8938","name":"set peripheralType","func":"flow.set(\"peripheralType\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":770,"y":260,"wires":[]},{"id":"170ef307.e390a5","type":"function","z":"ae66e9d2.ba8938","name":"show form group","func":"let peripheralTypes = flow.get(\"peripheralTypes\");\nhideGroups = peripheralTypes\n  .filter((peripheralType) => peripheralType.value != msg.payload)\n  .map((peripheralType) => \"AddPeripheral_\".concat(peripheralType.value));\nshowGroup = \"AddPeripheral_\".concat(msg.payload);\n\nreturn { payload: { group: { show: showGroup, hide: hideGroups } } };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":300,"wires":[["8b2733db.65ac8","ec0ebe5b.3a64c8"]]},{"id":"8b2733db.65ac8","type":"ui_ui_control","z":"ae66e9d2.ba8938","name":"","events":"all","x":960,"y":260,"wires":[[]]},{"id":"2f12f93f.ff6506","type":"function","z":"ae66e9d2.ba8938","name":"set peripheralTypes","func":"flow.set(\"peripheralTypes\", msg.payload.peripheralComponentEnums.peripheralTypes);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["851c795c.178ae8"]]},{"id":"e49d4a16.503bd","type":"function","z":"ae66e9d2.ba8938","name":"hide form groups","func":"let peripheralFormGroups = msg.payload.peripheralComponentEnums.peripheralTypes.map(\n    (peripheralType) => \"AddPeripheral_\".concat(peripheralType.value)\n);\nreturn {payload: {group: {hide: peripheralFormGroups}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":220,"wires":[["226103c6.8f4494"]]},{"id":"226103c6.8f4494","type":"ui_ui_control","z":"ae66e9d2.ba8938","name":"","events":"all","x":1040,"y":220,"wires":[[]]},{"id":"bc193e65.61f9e","type":"debug","z":"ae66e9d2.ba8938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":260,"wires":[]},{"id":"3b54491c.75208e","type":"function","z":"ae66e9d2.ba8938","name":"set dataPointTypes","func":"let dataPointTypes = [];\ntry {\n  dataPointTypes = msg.payload.allDataPointTypes.edges.map((edge) => edge.node);\n} catch (err) {\n  dataPointTypes = [{ name: \"None\", unit: \"N/A\", id: \"\" }];\n}\nflow.set(\"dataPointTypes\", dataPointTypes);\nreturn {payload: dataPointTypes};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":360,"wires":[[]]},{"id":"62ddd35c.6bf6dc","type":"graphql","z":"ae66e9d2.ba8938","name":"add peripheral","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"mutation createPeripheralComponent($input: CreatePeripheralComponentInput!) {\n  createPeripheralComponent(input: $input) {\n    peripheralComponent {\n      id\n      siteEntity {\n        id\n        name\n      }\n      controllerComponent {\n        id\n      }\n      peripheralType\n      state\n      parameters\n    }\n  }\n}\n","x":1940,"y":480,"wires":[["1f065889.9991b7"],["1f065889.9991b7"]]},{"id":"f3e8de6.dcf76a","type":"ui_toast","z":"ae66e9d2.ba8938","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2280,"y":480,"wires":[]},{"id":"1f065889.9991b7","type":"function","z":"ae66e9d2.ba8938","name":"to notification","func":"if(msg.payload.error){\n    return {payload: msg.payload.error};\n}\ntry {\n    return {\n        payload: `Adding ${msg.payload.createPeripheralComponent.peripheralComponent.siteEntity.name} peripheral`\n    };\n} catch(error) {\n    return {payload: \"Unable to create peripheral\"};\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2110,"y":480,"wires":[["f3e8de6.dcf76a"]]},{"id":"d9c0dd92.325e5","type":"ui_dropdown","z":"ae66e9d2.ba8938","name":"LED DPT","label":"","tooltip":"","place":"Select brightness type","group":"b298161.8516ce8","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1200,"y":340,"wires":[["994cae9a.b0d608"]]},{"id":"994cae9a.b0d608","type":"function","z":"ae66e9d2.ba8938","name":"set LEDDataPointTypeGID","func":"flow.set(\"LEDDataPointTypeGID\", msg.payload)","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1400,"y":340,"wires":[]},{"id":"a167da11.26ed78","type":"function","z":"ae66e9d2.ba8938","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":340,"wires":[["d9c0dd92.325e5"]]},{"id":"8979516.028f6b","type":"ui_form","z":"ae66e9d2.ba8938","name":"Parameters","label":"","group":"b298161.8516ce8","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Pin #","value":"pin","type":"number","required":true,"rows":null}],"formValue":{"name":"","pin":""},"payload":"","submit":"create","cancel":"clear","topic":"","x":1050,"y":380,"wires":[["946fc212.38903"]]},{"id":"946fc212.38903","type":"function","z":"ae66e9d2.ba8938","name":"add LED peripheral","func":"let otherParameters = {\n  pin: msg.payload.pin\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet LEDDataPointTypeGID = flow.get(\"LEDDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"LED\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: [\n        {\n          dataPointType: LEDDataPointTypeGID,\n          parameterPrefix: \"\",\n        },\n      ],\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":380,"wires":[["62ddd35c.6bf6dc"]]},{"id":"af4f1399.36c918","type":"comment","z":"ae66e9d2.ba8938","name":"Additional peripheral types can be added here...","info":"","x":1160,"y":820,"wires":[]},{"id":"851c795c.178ae8","type":"function","z":"ae66e9d2.ba8938","name":"set controllerComponentGID","func":"try {\n    flow.set(\"controllerComponentGID\", msg.payload.siteEntity.controllerComponent.id);\n} catch(err) {\n    flow.set(\"controllerComponentGID\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["e49d4a16.503bd"]]},{"id":"613f298.e99b558","type":"function","z":"4baa5843.529ff","name":"set siteGID","func":"flow.set(\"siteGID\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":160,"wires":[[]]},{"id":"ec04a123.be4e28","type":"function","z":"ae66e9d2.ba8938","name":"set siteGID","func":"try {\n    flow.set(\"siteGID\", msg.payload.siteGID);\n} catch(err) {\n    flow.set(\"siteGID\", \"\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":260,"wires":[[]]},{"id":"c3c41643.9dfc48","type":"ui_dropdown","z":"4baa5843.529ff","name":"data point types","label":"","tooltip":"","place":"Select data point type","group":"9d71466f.313f3","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":2360,"y":140,"wires":[["ae01e44a.70af18","e192c07b.e20ce","c4671988.364ea8"]]},{"id":"5d19d611.fdb71","type":"graphql","z":"4baa5843.529ff","name":"data points","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"query {\n  allDataPoints(peripheralComponent_SiteEntity: \"{{siteEntity}}\", dataPointType: \"{{dataPointType}}\", last: 100){\n    edges{\n      node{\n        time\n        value\n      }\n    }\n  }\n}","x":2730,"y":140,"wires":[["8ffe81b9.dc6508"],["8ffe81b9.dc6508"]],"icon":"font-awesome/fa-search"},{"id":"b34c88d2.76f778","type":"graphql","z":"4baa5843.529ff","name":"data point types","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"{\n  allDataPointTypes(peripheralComponentSet_SiteEntity: \"{{payload}}\"){\n    edges{\n      node{\n        id\n        name\n        unit\n      }\n    }\n  }\n  siteEntity(id: \"{{payload}}\") {\n    name\n    peripheralComponent {\n      peripheralType\n      state\n      createdAt\n      modifiedAt\n    }    \n  }\n}","x":1880,"y":140,"wires":[["3cf7fad.d88b206","421d10cb.dc45d","997634dc.30566"],["3cf7fad.d88b206"]],"icon":"font-awesome/fa-search"},{"id":"3cf7fad.d88b206","type":"function","z":"4baa5843.529ff","name":"to dropdown","func":"let controller_msg = {};\ntry {\n  let options = msg.payload.allDataPointTypes.edges.map((edge) => ({\n    [`${edge.node.name} in ${edge.node.unit}`]: edge.node.id,\n  }));\n  controller_msg[\"options\"] = options;\n} catch (error) {\n  controller_msg[\"options\"] = \"Request failed\";\n}\n\nreturn controller_msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":140,"wires":[["c3c41643.9dfc48","83caebcb.fb6e2"]],"outputLabels":["controller SE"]},{"id":"91a1ca70.a5c8f","type":"function","z":"4baa5843.529ff","name":"show","func":"return {payload: {group: {show: [\"Home_PeripheralData\"]}}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":260,"wires":[["252aca5.f24c1b6"]]},{"id":"252aca5.f24c1b6","type":"ui_ui_control","z":"4baa5843.529ff","name":"","events":"all","x":1980,"y":260,"wires":[[]]},{"id":"291d9672.85773a","type":"ui_text","z":"152661ab.2d7736","group":"c29af700.f62908","order":3,"width":0,"height":0,"name":"","label":"Use poll sensor or write actuator","format":"","layout":"row-spread","x":330,"y":320,"wires":[]},{"id":"ae01e44a.70af18","type":"function","z":"4baa5843.529ff","name":"get data points","func":"return {\n  siteEntity: flow.get(\"SEPeripheralGID\"),\n  dataPointType: msg.payload,\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":140,"wires":[["5d19d611.fdb71"]]},{"id":"59e12df9.f723f4","type":"function","z":"4baa5843.529ff","name":"set SEPeripheralGID","func":"flow.set(\"SEPeripheralGID\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1900,"y":200,"wires":[]},{"id":"8ffe81b9.dc6508","type":"function","z":"4baa5843.529ff","name":"to chart","func":"let dataPointType = flow.get(\"dataPointType\");\nlet dataPoints = msg.payload.allDataPoints.edges.map((edge) =>\n    ({x: edge.node.time, y: edge.node.value})\n);\nif(dataPoints.length > 0) {\n    msg = {\n        payload: [{\n            series: [dataPointType.id],\n            data: [\n                dataPoints\n            ],\n            labels: [\"\"]\n        }],\n        label: \"Data Points\"\n    };\n} else {\n    msg = {\n        payload: [],\n        label: \"No Data\"\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2900,"y":140,"wires":[["448d184c.30823"]]},{"id":"e192c07b.e20ce","type":"function","z":"4baa5843.529ff","name":"set dataPointType","func":"let dataPointTypes = flow.get(\"dataPointTypes\");\nflow.set(\"dataPointType\", dataPointTypes.find((dataPointType) => dataPointType.id === msg.payload));","outputs":0,"noerr":0,"initialize":"","finalize":"","x":2570,"y":100,"wires":[]},{"id":"c4671988.364ea8","type":"function","z":"4baa5843.529ff","name":"clear graph","func":"return { payload: [], label: \"No Data\"};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2550,"y":200,"wires":[["448d184c.30823"]]},{"id":"83caebcb.fb6e2","type":"delay","z":"4baa5843.529ff","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2295,"y":200,"wires":[["c4671988.364ea8"]],"l":false},{"id":"421d10cb.dc45d","type":"function","z":"4baa5843.529ff","name":"set dataPointTypes","func":"try {\n  flow.set(\"dataPointTypes\", msg.payload.allDataPointTypes.edges.map((edge) => edge.node));\n} catch (error) {\n  flow.set(\"dataPointTypes\", [])\n}","outputs":0,"noerr":0,"initialize":"","finalize":"","x":2190,"y":100,"wires":[]},{"id":"3b4048a9.37f998","type":"ui_button","z":"4baa5843.529ff","name":"Retry","group":"ca641817.903ed8","order":4,"width":"3","height":"1","passthru":false,"label":"Reconnect","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":160,"wires":[["263d5fe3.c548b8"]]},{"id":"512a63c1.03ee94","type":"ui_text","z":"4baa5843.529ff","group":"ca641817.903ed8","order":2,"width":"3","height":"1","name":"Server code link","label":"<a href=\"https://github.com/protohaus/sdg-server/tree/update-farm-app\" target=”_blank\">Server Code</a>","format":"","layout":"row-spread","x":240,"y":260,"wires":[]},{"id":"532eedfa.b8530c","type":"ui_text","z":"4baa5843.529ff","group":"ca641817.903ed8","order":3,"width":"3","height":"1","name":"Controller code link","label":"<a href=\"https://github.com/protohaus/sdg-controller/tree/Unstable\" target=”_blank\">Controller Code</a>","format":"","layout":"row-spread","x":250,"y":300,"wires":[]},{"id":"3defd0f8.b2397","type":"ui_text","z":"4baa5843.529ff","group":"ca641817.903ed8","order":3,"width":"3","height":"1","name":"Contact link","label":"<a href=\"mailto:moritz.ulmer@posteo.de\">Contact</a>","format":"","layout":"row-spread","x":230,"y":340,"wires":[]},{"id":"83ea5b19.751fb","type":"comment","z":"ae66e9d2.ba8938","name":"Add LED peripheral","info":"","x":1070,"y":300,"wires":[]},{"id":"3175b8da.14b29","type":"comment","z":"ae66e9d2.ba8938","name":"Add I2C adapter","info":"","x":1060,"y":440,"wires":[]},{"id":"1316d706.d525e9","type":"ui_form","z":"ae66e9d2.ba8938","name":"Parameters","label":"","group":"d769c858.dbb7a8","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"SCL pin #","value":"scl","type":"number","required":true,"rows":null},{"label":"SDA pin #","value":"sda","type":"number","required":true,"rows":null}],"formValue":{"name":"","scl":"","sda":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1050,"y":480,"wires":[["9d697ce3.314bc8"]]},{"id":"9d697ce3.314bc8","type":"function","z":"ae66e9d2.ba8938","name":"add I2C adapter","func":"let otherParameters = {\n  scl: msg.payload.scl,\n  sda: msg.payload.sda\n};\n\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\nlet LEDDataPointTypeGID = flow.get(\"LEDDataPointTypeGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"I2CAdapter\",\n      otherParameters: JSON.stringify(otherParameters),\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":480,"wires":[["62ddd35c.6bf6dc"]]},{"id":"247b6ff4.b57398","type":"ui_dropdown","z":"ae66e9d2.ba8938","name":"Temperature DPT","label":"temperature","tooltip":"","place":"Select type","group":"ece676ad.831698","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1230,"y":580,"wires":[["9d7dfaf1.bb92e"]]},{"id":"9d7dfaf1.bb92e","type":"function","z":"ae66e9d2.ba8938","name":"set temperature","func":"flow.set(\"BME280TemperatureDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1420,"y":580,"wires":[]},{"id":"7e31e86a.0ca08","type":"function","z":"ae66e9d2.ba8938","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":580,"wires":[["247b6ff4.b57398"]]},{"id":"6837b8b5.2ec49","type":"comment","z":"ae66e9d2.ba8938","name":"Add BME/P280 peripheral","info":"","x":1090,"y":540,"wires":[]},{"id":"832768ad.63d79","type":"ui_dropdown","z":"ae66e9d2.ba8938","name":"Humidity DPT","label":"humidity","tooltip":"","place":"Select type","group":"ece676ad.831698","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":660,"wires":[["c61101ac.809da8"]]},{"id":"c61101ac.809da8","type":"function","z":"ae66e9d2.ba8938","name":"set humidity","func":"flow.set(\"BME280HumidityDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1410,"y":660,"wires":[]},{"id":"796c11cb.fe1ba8","type":"function","z":"ae66e9d2.ba8938","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\n\n// As the BMP280 has no humidity sensor, but the BME280 does, add this option\noptions.unshift({\"Nicht zutreffend (BMP280)\": null});\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":660,"wires":[["832768ad.63d79"]]},{"id":"210404f.3cf997c","type":"ui_dropdown","z":"ae66e9d2.ba8938","name":"Pressure DPT","label":"pressure","tooltip":"","place":"Select type","group":"ece676ad.831698","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":620,"wires":[["c528df3d.a42c28"]]},{"id":"c528df3d.a42c28","type":"function","z":"ae66e9d2.ba8938","name":"set pressure","func":"flow.set(\"BME280PressureDataPointTypeGID\", msg.payload);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1410,"y":620,"wires":[]},{"id":"27539f13.1d4e7","type":"function","z":"ae66e9d2.ba8938","name":"to dropdown","func":"// Store peripheral as {peripheralName: \"some name\", peripheralGID: \"peripheral GID\"}\nlet options = flow.get(\"dataPointTypes\").map((dataPointType) => ({\n  [`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":620,"wires":[["210404f.3cf997c"]]},{"id":"4f897e0c.f45","type":"ui_form","z":"ae66e9d2.ba8938","name":"Parameters","label":"","group":"ece676ad.831698","order":5,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"I2C address","value":"I2CAddress","type":"number","required":true,"rows":null}],"formValue":{"name":"","I2CAddress":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1050,"y":740,"wires":[["72119757.5d529"]]},{"id":"72119757.5d529","type":"function","z":"ae66e9d2.ba8938","name":"add BME280 sensor","func":"let otherParameters = {\n  i2c_adapter: flow.get(\"BME280I2CAdapterUUID\"),\n  i2c_address: msg.payload.I2CAddress\n};\nlet dataPointTypeEdges = [\n    {\n        dataPointType: flow.get(\"BME280TemperatureDataPointTypeGID\"),\n        parameterPrefix: \"temperature\",\n    },\n    {\n        dataPointType: flow.get(\"BME280PressureDataPointTypeGID\"),\n        parameterPrefix: \"pressure\",\n    }\n];\n// Only add humidity data point type for the BME280, BMP280 does not need it\nlet humidityDataPointType = flow.get(\"BME280HumidityDataPointTypeGID\");\nif(humidityDataPointType) {\n  dataPointTypeEdges.push({\n      dataPointType: humidityDataPointType,\n      parameterPrefix: \"humidity\"\n  });\n}\nlet siteGID = flow.get(\"siteGID\");\nlet controllerComponentGID = flow.get(\"controllerComponentGID\");\n\nreturn {\n  variables: {\n    input: {\n      name: msg.payload.name,\n      site: siteGID,\n      controllerComponent: controllerComponentGID,\n      peripheralType: \"BME280\",\n      otherParameters: JSON.stringify(otherParameters),\n      dataPointTypeEdges: dataPointTypeEdges\n    },\n  },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":740,"wires":[["62ddd35c.6bf6dc"]]},{"id":"1da0494c.17bd67","type":"ui_dropdown","z":"ae66e9d2.ba8938","name":"I2C Adapter","label":"","tooltip":"","place":"Select I2C adapter","group":"ece676ad.831698","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1570,"y":700,"wires":[["dadb22bd.c44b3"]]},{"id":"dadb22bd.c44b3","type":"function","z":"ae66e9d2.ba8938","name":"set I2C adapter","func":"let i2cAdapterGID = new Buffer.from(msg.payload, 'base64').toString();\nflow.set(\"BME280I2CAdapterUUID\", i2cAdapterGID.split(\":\")[1])","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1740,"y":700,"wires":[]},{"id":"5e7b9680.6674e","type":"function","z":"ae66e9d2.ba8938","name":"to dropdown","func":"let options = msg.payload.allPeripheralComponents.edges.map((i2cAdapter) => ({\n  [`${i2cAdapter.node.siteEntity.name} (${i2cAdapter.node.state})`]: i2cAdapter.node.siteEntity.id,\n}));\nreturn { options: options };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":700,"wires":[["1da0494c.17bd67"]]},{"id":"eae7784c.181ca","type":"graphql","z":"ae66e9d2.ba8938","name":"getI2CAdapters","graphql":"48ee54f0.54cf84","format":"handlebars","syntax":"mustache","template":"query {\n  allPeripheralComponents(controllerComponent: \"{{payload}}\", peripheralType: \"I2CAdapter\") {\n    edges{\n      node{\n        siteEntity{\n          id\n          name\n        }\n        state\n      }\n    }\n  }\n}","x":1240,"y":700,"wires":[["5e7b9680.6674e"],["5e7b9680.6674e"]]},{"id":"211460fc.8422d8","type":"function","z":"ae66e9d2.ba8938","name":"get I2C adapters","func":"return { payload: flow.get(\"controllerComponentGID\") };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":700,"wires":[["eae7784c.181ca"]]},{"id":"ec0ebe5b.3a64c8","type":"delay","z":"ae66e9d2.ba8938","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":915,"y":300,"wires":[["a167da11.26ed78","7e31e86a.0ca08","796c11cb.fe1ba8","27539f13.1d4e7","211460fc.8422d8"]],"l":false},{"id":"f07a5562.54fcf","type":"ui_text","z":"ae66e9d2.ba8938","group":"ece676ad.831698","order":5,"width":0,"height":0,"name":"I2C addresses","label":"I2C address is 119 (0x77) or 118 (0x76)","format":"","layout":"row-left","x":1060,"y":780,"wires":[]},{"id":"2e3e3bd7.1a8e34","type":"ui_text","z":"4baa5843.529ff","group":"9d71466f.313f3","order":5,"width":0,"height":0,"name":"","label":"Type","format":"{{msg.payload.type}}","layout":"row-spread","x":2290,"y":280,"wires":[]},{"id":"d39bd444.64ac8","type":"ui_text","z":"4baa5843.529ff","group":"9d71466f.313f3","order":5,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.name}}","layout":"row-spread","x":2290,"y":240,"wires":[]},{"id":"bf0464ed.5552b","type":"ui_text","z":"4baa5843.529ff","group":"9d71466f.313f3","order":5,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload.state}}","layout":"row-spread","x":2290,"y":320,"wires":[]},{"id":"917ca7ed.eee9e","type":"ui_text","z":"4baa5843.529ff","group":"9d71466f.313f3","order":5,"width":0,"height":0,"name":"","label":"Created at","format":"{{msg.payload.createdAt}}","layout":"row-spread","x":2490,"y":360,"wires":[]},{"id":"e0aecdf6.ad22a","type":"ui_text","z":"4baa5843.529ff","group":"9d71466f.313f3","order":5,"width":0,"height":0,"name":"","label":"Modified at","format":"{{msg.payload.modifiedAt}}","layout":"row-spread","x":2490,"y":400,"wires":[]},{"id":"997634dc.30566","type":"function","z":"4baa5843.529ff","name":"to text","func":"let controller_msg = {};\nlet options = msg.payload.allDataPointTypes.edges.map((edge) => ({\n[`${edge.node.name} in ${edge.node.unit}`]: edge.node.id,\n}));\n\nreturn {\n    payload: {\n        name: msg.payload.siteEntity.name,\n        type: msg.payload.siteEntity.peripheralComponent.peripheralType,\n        state: msg.payload.siteEntity.peripheralComponent.state,\n        createdAt: msg.payload.siteEntity.peripheralComponent.createdAt,\n        modifiedAt: msg.payload.siteEntity.peripheralComponent.modifiedAt\n    }\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2150,"y":240,"wires":[["d39bd444.64ac8","2e3e3bd7.1a8e34","bf0464ed.5552b","677f122e.bdad8c","c28a4008.ca9e7"]],"outputLabels":["controller SE"]},{"id":"677f122e.bdad8c","type":"moment","z":"4baa5843.529ff","name":"Format date","topic":"","input":"payload.createdAt","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm D/MM/YY","locale":"de-DE","output":"payload.createdAt","outputType":"msg","outTz":"Europe/Berlin","x":2310,"y":360,"wires":[["917ca7ed.eee9e"]]},{"id":"c28a4008.ca9e7","type":"moment","z":"4baa5843.529ff","name":"Format date","topic":"","input":"payload.modifiedAt","inputType":"msg","inTz":"Africa/Abidjan","adjAmount":0,"adjType":"days","adjDir":"add","format":"hh:mm D/MM/YY","locale":"de-DE","output":"payload.modifiedAt","outputType":"msg","outTz":"Europe/Berlin","x":2310,"y":400,"wires":[["e0aecdf6.ad22a"]]},{"id":"999c69cc.f17478","type":"ui_text","z":"4baa5843.529ff","group":"9b8b274a.75cf4","order":2,"width":0,"height":0,"name":"Sample data","label":"Sample data in Demo BME280 - A","format":"","layout":"row-spread","x":1670,"y":480,"wires":[]},{"id":"b3548699.02dc2","type":"ui_ui_control","z":"152661ab.2d7736","name":"","events":"all","x":1000,"y":220,"wires":[[]]},{"id":"55db6258.bec7fc","type":"comment","z":"152661ab.2d7736","name":"Write actuator task","info":"","x":1090,"y":260,"wires":[]},{"id":"462eb472.85bf2c","type":"comment","z":"152661ab.2d7736","name":"Poll sensor task","info":"","x":1080,"y":400,"wires":[]},{"id":"99270139.78a24","type":"delay","z":"152661ab.2d7736","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":955,"y":260,"wires":[["4010ff7.8e0a68"]],"l":false},{"id":"d328c340.fc1dc","type":"function","z":"152661ab.2d7736","name":"set dataPointTypes","func":"let dataPointTypes = [];\ntry {\n  dataPointTypes = msg.payload.siteEntity.peripheralComponent.dataPointTypeSet.edges.map(\n    (edge) => edge.node\n  );\n} catch (err) {\n  dataPointTypes = [{ name: \"None\", unit: \"N/A\", id: \"\" }];\n}\nflow.set(\"dataPointTypes\", dataPointTypes);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":180,"wires":[["81bb7954.9c6258"]]},{"id":"accc006e.1d1ad","type":"function","z":"4baa5843.529ff","name":"set controllerName","func":"flow.set(\"controllerName\", msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":1690,"y":120,"wires":[]},{"id":"c2593a5b.19cc5","type":"ui_text","z":"152661ab.2d7736","group":"c29af700.f62908","order":1,"width":0,"height":0,"name":"","label":"Controller:","format":"{{msg.payload.controllerName}}","layout":"row-spread","x":270,"y":180,"wires":[]},{"id":"4019be56.f01f28","type":"ui_dropdown","z":"152661ab.2d7736","name":"","label":"","tooltip":"","place":"Select option","group":"9e5a4a5c.82ca8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1220,"y":300,"wires":[["69a0ab7.5c9c254"]]},{"id":"4010ff7.8e0a68","type":"function","z":"152661ab.2d7736","name":"to dropdown","func":"let options = flow.get(\"dataPointTypes\").map(\n  (dataPointType) => ({[`${dataPointType.name} in ${dataPointType.unit}`]: dataPointType.id})\n);\n\nlet firstValue = Object.values(options[0])[0];\nreturn { options: options, payload: firstValue };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":300,"wires":[["4019be56.f01f28"]]},{"id":"69a0ab7.5c9c254","type":"function","z":"152661ab.2d7736","name":"set data point type","func":"flow.set(\"writeActuatorDataPointTypeGID\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":300,"wires":[[]]},{"id":"345f4f80.d021e8","type":"function","z":"152661ab.2d7736","name":"start task","func":"var moment = global.get(\"moment\");\n\nparameters = {};\n// Set the peripheral UUID\nconst peripheralGID = new Buffer(\n  flow.get(\"peripheral\").peripheralGID,\n  \"base64\"\n);\nparameters[\"peripheral\"] = peripheralGID.toString().split(\":\")[1];\n// Set the data point type UUID\nconst dataPointTypeGID = new Buffer.from(\n  flow.get(\"pollSensorDataPointTypeGID\"),\n  \"base64\"\n).toString();\nparameters[\"data_point_type\"] = dataPointTypeGID.split(\":\")[1];\n// Set the interval\nparameters[\"interval_ms\"] = msg.payload.interval_s * 1000;\n\n// Get all relevant variables\nlet variables = {\n  input: {\n    controllerComponent: flow.get(\"controllerComponentGID\"),\n    taskType: flow.get(\"taskType\"),\n    parameters: JSON.stringify(parameters),\n  },\n};\n// If a timeout is specified, add the run_until datetime\nif (msg.payload.duration_s) {\n  variables.input.runUntil = moment().add(msg.payload.duration_s, \"s\").format();\n}\n\nreturn {variables: variables};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":440,"wires":[["2e677486.5935dc"]]}]